/**
 * Indico specific stylesheet.
 * Integration with compass for easier gradients.
 */
/* line 42, ../_sass/indico.scss */
.section {
  text-align: center;
}

/* line 46, ../_sass/indico.scss */
.hero-section {
  background-color: #1A4A61;
}

/* line 50, ../_sass/indico.scss */
.hero-home {
  background-image: url("../img/conference_hero.png");
  background-position: center;
  height: 851px;
}

/* line 56, ../_sass/indico.scss */
.hero-features {
  background-image: url("../img/features_hero.png");
  background-position: center;
  height: 905px;
  background-size: cover;
}

/* line 63, ../_sass/indico.scss */
.hero-getting-started {
  height: 620px;
}

/* line 67, ../_sass/indico.scss */
.hero-blog {
  background-image: url("../img/blog_header.png");
  background-position: center;
  height: 350px;
}

/* line 73, ../_sass/indico.scss */
.hero-contact {
  background-image: url("../img/contact.png");
  background-position: center;
  height: 705px;
}

/* line 79, ../_sass/indico.scss */
.hero-about {
  background-image: url("../img/worldmap.png");
  background-position: center;
  height: 705px;
}

/* line 85, ../_sass/indico.scss */
.hero-section-fader {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhNGE2MSIvPjxzdG9wIG9mZnNldD0iNjglIiBzdG9wLWNvbG9yPSIjMWE0YTYxIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTRhNjEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a4a61), color-stop(68%, rgba(26, 74, 97, 0.75)), color-stop(100%, #1a4a61));
  background-image: -moz-linear-gradient(top, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  background-image: -webkit-linear-gradient(top, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  background-image: linear-gradient(to bottom, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  height: 100%;
}

/* line 90, ../_sass/indico.scss */
.hero-section-content {
  padding-top: calc(3 * 30px);
}

/* line 94, ../_sass/indico.scss */
.hero-spotlight {
  margin-top: 80px;
}

/* line 98, ../_sass/indico.scss */
.hero-spotlight-1 {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 18px;
  color: #9CD5EF;
  line-height: 25px;
}

/* line 106, ../_sass/indico.scss */
.hero-spotlight-line {
  border-bottom: 3px solid #9CD5EF;
  width: 20%;
  margin: 20px auto;
}

/* line 111, ../_sass/indico.scss */
.hero-spotlight-header {
  margin: 50px 0;
}

/* line 115, ../_sass/indico.scss */
.hero-spotlight-header h1 {
  font-family: Maven Pro;
  font-weight: 300;
  color: #FFFFFF;
}

/* line 121, ../_sass/indico.scss */
.hero-spotlight-header-home h1 {
  font-size: 36px;
  line-height: 56px;
}
@media (min-width: 992px) {
  /* line 121, ../_sass/indico.scss */
  .hero-spotlight-header-home h1 {
    font-size: 48px;
  }
}

/* line 130, ../_sass/indico.scss */
.hero-spotlight-header-page h1 {
  font-size: 28px;
  line-height: 43px;
}
@media (min-width: 768px) {
  /* line 130, ../_sass/indico.scss */
  .hero-spotlight-header-page h1 {
    font-size: 36px;
  }
}

/* line 140, ../_sass/indico.scss */
.hero-spotlight-demo a {
  text-decoration: none;
  border-radius: 40px;
  background: #7ED321;
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
  padding: 15px 60px;
}
/* line 151, ../_sass/indico.scss */
.hero-spotlight-demo a:visited {
  color: #FFFFFF;
}

/* line 156, ../_sass/indico.scss */
.hero-spotlight-download {
  margin-top: 30px;
}
/* line 159, ../_sass/indico.scss */
.hero-spotlight-download a {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  color: #9CD5EF;
  line-height: 17px;
}

/* line 167, ../_sass/indico.scss */
.hero-spotlight-text {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
}

/* line 175, ../_sass/indico.scss */
.hero-spotlight-button-lg {
  padding-top: 50px;
}
/* line 178, ../_sass/indico.scss */
.hero-spotlight-button-lg a {
  text-decoration: none;
  border-radius: 40px;
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 36px;
  line-height: 25px;
  padding: 15px 60px;
  border: 2px solid #6AB31D;
  color: #FFFFFF;
}
@media screen and (max-width: 600px) {
  /* line 178, ../_sass/indico.scss */
  .hero-spotlight-button-lg a {
    font-size: 18px;
  }
}

/* line 195, ../_sass/indico.scss */
.partners-section {
  height: 450px;
  background-color: #34AAE0;
}
/* line 199, ../_sass/indico.scss */
.partners-section .partner-carousel {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
}
@media (min-width: 768px) {
  /* line 199, ../_sass/indico.scss */
  .partners-section .partner-carousel {
    font-size: 18px;
  }
}

/* line 212, ../_sass/indico.scss */
.section-content {
  padding-top: calc(3 * 30px);
  padding-bottom: calc(3 * 30px);
}

/* line 219, ../_sass/indico.scss */
.partner-carousel-item .partner-carousel-item-text {
  padding-top: 40px;
}

/* line 224, ../_sass/indico.scss */
.features-section {
  background-color: #FFFFFF;
}
/* line 227, ../_sass/indico.scss */
.features-section .features-section-title {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 20px;
  color: #1A4A61;
  line-height: 25px;
}
/* line 235, ../_sass/indico.scss */
.features-section .features-section-intro {
  background-image: url("../img/browser_illustration.png");
  background-position: center;
  height: 236px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 235, ../_sass/indico.scss */
  .features-section .features-section-intro {
    margin-top: 70px;
  }
}
/* line 247, ../_sass/indico.scss */
.features-section .features-section-intro .features-section-intro-txt {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  color: #6D92A3;
  line-height: 24px;
  padding: 100px 0;
}
@media (min-width: 768px) {
  /* line 247, ../_sass/indico.scss */
  .features-section .features-section-intro .features-section-intro-txt {
    font-size: 18px;
  }
}
/* line 261, ../_sass/indico.scss */
.features-section .features-section-list {
  background-color: #F0F8FC;
  text-align: left;
}
/* line 265, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature {
  min-height: 156px;
  padding-top: 50px;
}
/* line 273, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature .features-section-feature-icon {
  text-align: center;
}
/* line 277, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature .features-section-feature-description {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 16px;
  color: #1A4A61;
  line-height: 24px;
}

/**
 * Uses absolute relative and positions so that the text escapes the
 * transparent background "prison". Alternative workaround would be to
 * use a background image that includes the opacity (so there would be
 * no need to apply css opacity).
 */
/* line 295, ../_sass/indico.scss */
.safety-net-section {
  height: 347px;
  color: #1A4A61;
  /** Overide colors when in front page **/
}
/* line 299, ../_sass/indico.scss */
.safety-net-section .safety-net-wrapper {
  position: relative;
  margin: 0 auto;
}
/* line 304, ../_sass/indico.scss */
.safety-net-section h2 {
  font-family: Maven Pro;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
}
@media (min-width: 768px) {
  /* line 304, ../_sass/indico.scss */
  .safety-net-section h2 {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (min-width: 992px) {
  /* line 304, ../_sass/indico.scss */
  .safety-net-section h2 {
    font-size: 36px;
    line-height: 43px;
  }
}
/* line 321, ../_sass/indico.scss */
.safety-net-section .github-project {
  padding-top: 50px;
}
/* line 324, ../_sass/indico.scss */
.safety-net-section .github-project a {
  text-decoration: none;
  border-radius: 40px;
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding: 15px 60px;
  border: 2px solid #6AB31D;
  color: #1A4A61;
}
/* line 335, ../_sass/indico.scss */
.safety-net-section .github-project a:visited {
  color: #1A4A61;
}
/* line 341, ../_sass/indico.scss */
.safety-net-section .safety-net-content-absolute {
  position: absolute;
  top: 4.7em;
  left: 15px;
  right: 15px;
  z-index: 1;
  color: #FFFFFF;
}
/* line 349, ../_sass/indico.scss */
.safety-net-section .safety-net-content-absolute .github-project a {
  color: #FFFFFF;
}
/* line 352, ../_sass/indico.scss */
.safety-net-section .safety-net-content-absolute .github-project a a:visited {
  color: #FFFFFF;
}
/* line 358, ../_sass/indico.scss */
.safety-net-section .safety-net-section-fader {
  height: 100%;
  background-image: url("../img/safety_net.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 365, ../_sass/indico.scss */
.safety-net-section-blog {
  height: 210px;
}

/* line 369, ../_sass/indico.scss */
a.no-decoration {
  text-decoration: none;
}
/* line 371, ../_sass/indico.scss */
a.no-decoration:visited {
  color: #FFFFFF;
}

/* line 376, ../_sass/indico.scss */
.bg-blue-dark {
  background-color: #1A4A61;
}

/* line 380, ../_sass/indico.scss */
.bg-blue-light {
  background-color: #F0F8FC;
}

/* line 384, ../_sass/indico.scss */
.block-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* line 390, ../_sass/indico.scss */
.block-right {
  float: right;
}

/* line 396, ../_sass/indico.scss */
.features-section-listed .section-content {
  padding-top: calc(6 * 30px);
}
/* line 400, ../_sass/indico.scss */
.features-section-listed .feature-row {
  font-family: Maven Pro;
  font-weight: 400;
  margin-bottom: calc(3 * 30px);
}
/* line 405, ../_sass/indico.scss */
.features-section-listed .feature-row h2 {
  font-size: 20px;
  color: #1A4A61;
  line-height: 25px;
}
/* line 411, ../_sass/indico.scss */
.features-section-listed .feature-row p {
  font-size: 16px;
  color: #6D92A3;
  line-height: 24px;
}

/* line 418, ../_sass/indico.scss */
.options-wrapper {
  position: relative;
}

/* line 424, ../_sass/indico.scss */
.getting-started-options .options-description {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 16px;
  color: #6D92A3;
  line-height: 24px;
  margin-top: calc(2 * 30px);
  margin-bottom: calc(2 * 30px);
}
/* line 433, ../_sass/indico.scss */
.getting-started-options .option {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  color: #1A4A61;
  line-height: 18px;
  border-radius: 8px;
  border: 2px solid #9CD5EF;
  margin: 0 15px;
  min-height: 190px;
  position: relative;
}
/* line 445, ../_sass/indico.scss */
.getting-started-options .option .wrapper {
  position: relative;
}
/* line 454, ../_sass/indico.scss */
.getting-started-options .option .row div {
  position: absolute;
  top: calc(4 * 30px);
  width: 100%;
}

/* line 463, ../_sass/indico.scss */
.getting-started-options {
  position: absolute;
  top: calc( 4 * 30px);
  left: calc(30px / 2);
  min-height: 420px;
  border-radius: 7px;
  background: #F0F8FC;
  -moz-box-shadow: 0px 1px 0px 0px rgba(25, 73, 97, 0.05), 0px 20px 40px 0px rgba(25, 73, 97, 0.25);
  box-shadow: 0px 1px 0px 0px rgba(25, 73, 97, 0.05), 0px 20px 40px 0px rgba(25, 73, 97, 0.25);
}
