/**
 * Indico specific stylesheet.
 * Integration with compass for easier gradients.
 */
/* line 24, ../_sass/indico.scss */
.section {
  text-align: center;
}

/* line 31, ../_sass/indico.scss */
.hero-home {
  background-image: url("../img/conference_hero.png");
  background-position: center;
  height: 851px;
}

/* line 37, ../_sass/indico.scss */
.hero-features {
  background-color: #1A4A61;
  height: 800px;
}

/* line 42, ../_sass/indico.scss */
.hero-section-fader {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhNGE2MSIvPjxzdG9wIG9mZnNldD0iNjglIiBzdG9wLWNvbG9yPSIjMWE0YTYxIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTRhNjEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a4a61), color-stop(68%, rgba(26, 74, 97, 0.75)), color-stop(100%, #1a4a61));
  background-image: -moz-linear-gradient(top, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  background-image: -webkit-linear-gradient(top, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  background-image: linear-gradient(to bottom, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  height: 100%;
}

/* line 47, ../_sass/indico.scss */
.hero-section-content {
  padding-top: 90px;
}

/* line 51, ../_sass/indico.scss */
.hero-spotlight {
  margin-top: 80px;
}

/* line 55, ../_sass/indico.scss */
.hero-spotlight-1 {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 18px;
  color: #9CD5EF;
  line-height: 25px;
}

/* line 63, ../_sass/indico.scss */
.hero-spotlight-line {
  border-bottom: 3px solid #9CD5EF;
  width: 20%;
  margin: 20px auto;
}

/* line 68, ../_sass/indico.scss */
.hero-spotlight-header {
  margin: 50px 0;
}

/* line 72, ../_sass/indico.scss */
.hero-spotlight-header h1 {
  font-family: Maven Pro;
  font-weight: 300;
  color: #FFFFFF;
}

/* line 78, ../_sass/indico.scss */
.hero-spotlight-header-home h1 {
  font-size: 48px;
  line-height: 56px;
}

/* line 83, ../_sass/indico.scss */
.hero-spotlight-header-features h1 {
  font-size: 36px;
  line-height: 43px;
}

/* line 89, ../_sass/indico.scss */
.hero-spotlight-demo a {
  text-decoration: none;
  border-radius: 40px;
  background: #7ED321;
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
  padding: 15px 60px;
}
/* line 100, ../_sass/indico.scss */
.hero-spotlight-demo a:visited {
  color: #FFFFFF;
}

/* line 105, ../_sass/indico.scss */
.hero-spotlight-download {
  margin-top: 30px;
}
/* line 108, ../_sass/indico.scss */
.hero-spotlight-download a {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  color: #9CD5EF;
  line-height: 17px;
}

/* line 116, ../_sass/indico.scss */
.partners-section {
  height: 450px;
  background-color: #34AAE0;
}
/* line 120, ../_sass/indico.scss */
.partners-section .partner-carousel {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  /* CERN - "The European: */
}

/* line 130, ../_sass/indico.scss */
.section-content {
  padding: 70px 0;
}

/* line 134, ../_sass/indico.scss */
.partner-carousel-item {
  padding: 0px 170px;
}
/* line 137, ../_sass/indico.scss */
.partner-carousel-item .partner-carousel-item-text {
  padding-top: 40px;
}

/* line 143, ../_sass/indico.scss */
.features-section .features-section-title {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 20px;
  color: #1A4A61;
  line-height: 25px;
}
/* line 151, ../_sass/indico.scss */
.features-section .features-section-intro {
  background-image: url("../img/browser_illustration.png");
  background-position: center;
  height: 236px;
  background-repeat: no-repeat;
  margin-top: 70px;
}
/* line 158, ../_sass/indico.scss */
.features-section .features-section-intro .features-section-intro-txt {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 18px;
  color: #6D92A3;
  line-height: 24px;
  padding: 100px 150px;
}
/* line 168, ../_sass/indico.scss */
.features-section .features-section-list {
  background-color: #F0F8FC;
  text-align: left;
}
/* line 172, ../_sass/indico.scss */
.features-section .features-section-list .col-content {
  padding: 0 80px;
}
/* line 176, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature {
  clear: both;
  height: 70px;
  padding-top: 50px;
}
/* line 185, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature .features-section-feature-icon {
  width: 62px;
  float: left;
  margin-right: 20px;
}
/* line 191, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature .features-section-feature-description {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 16px;
  color: #1A4A61;
  line-height: 24px;
}

@media (min-width: 768px) {
  /* line 203, ../_sass/indico.scss */
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 209, ../_sass/indico.scss */
  .col-md-6 {
    width: 50%;
    float: left;
  }
}
/**
 * Uses absolute relative and positions so that the text escapes the
 * transparent background "prison". Alternative workaround would be to
 * use a background image that includes the opacity (so there would be 
 * no need to apply css opacity).
 */
/* line 221, ../_sass/indico.scss */
.safety-net-section {
  height: 347px;
  color: #1A4A61;
  /** Overide colors when in front page **/
}
/* line 225, ../_sass/indico.scss */
.safety-net-section .wrapper {
  position: relative;
}
/* line 229, ../_sass/indico.scss */
.safety-net-section h2 {
  font-family: Maven Pro;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
}
/* line 236, ../_sass/indico.scss */
.safety-net-section .github-project {
  padding-top: 50px;
}
/* line 239, ../_sass/indico.scss */
.safety-net-section .github-project a {
  text-decoration: none;
  border-radius: 40px;
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding: 15px 60px;
  border: 2px solid #6AB31D;
}
/* line 249, ../_sass/indico.scss */
.safety-net-section .github-project a:visited {
  color: #1A4A61;
}
/* line 255, ../_sass/indico.scss */
.safety-net-section .safety-net-content-absolute {
  position: absolute;
  top: 4.7em;
  z-index: 1;
  color: #FFFFFF;
}
/* line 262, ../_sass/indico.scss */
.safety-net-section .safety-net-content-absolute .github-project a:visited {
  color: #FFFFFF;
}
/* line 268, ../_sass/indico.scss */
.safety-net-section .safety-net-section-fader {
  height: 100%;
  background-image: url("../img/safety_net.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 275, ../_sass/indico.scss */
a.no-decoration {
  text-decoration: none;
}
/* line 277, ../_sass/indico.scss */
a.no-decoration:visited {
  color: #FFFFFF;
}

/* line 282, ../_sass/indico.scss */
.bg-blue-dark {
  background-color: #1A4A61;
}

/* line 286, ../_sass/indico.scss */
.bg-blue-light {
  background-color: #F0F8FC;
}
