---
# Indico specific stylesheet
---

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// Variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$quicksand: Quicksand, sans-serif;
$maven:            Maven Pro;
$ubuntu: 'Ubuntu', sans-serif;

$regular:    400; // regular = normal
$medium:     500;
$light-300:  300; // MavenProLight300-Regular
$light-200:  200; // maven-pro-light-200

$spacing-unit:        30px;
$spacing-unit-footer: 60px;

$text-color:        #111;
$background-color:  #fdfdfd;
$brand-color:       #2a7ae2;
$blue-color:        #2D98C8;
$blue-color-light:  #297699;
$blue-color-lighter:#9CD5EF;
$blue-color-lighter-2:    #B0DDF1;
$blue-color-even-lighter: #F0F8FC;
$blue-cern:         #34AAE0;
$blue-cern-dark:    #1291CF;
$blue-dark:         #1A4A61;
$text-color-white:  #FFFFFF;
$green-color-bright:#7ED321;
$green-color:       #6AB31D;
$blue-gray-color:   #7A8F99;
$blue-gray-light:   #6D92A3;
$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 25%);
$gray-white:        #F6F8F9;
$gray-white-dark:   #E3E5E6;
$turquoise: #2f9c8d;

$on-palm:   600px;
$on-laptop: 800px;

$sm:    768px;
$md:    992px;
$lg:    1200px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@import '_base';
@import '_syntax-highlighting';


.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/**
 * Darken body when navbar is expanded
 */
body {
    position: relative;
}

a {

    &:hover {
        text-decoration: none;
    }
}

.dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 1000;
    opacity: 0.5;
}

.uppercase {
    text-transform: uppercase;
}


/**
 * Site header
 */
.site-header {
    position: absolute;
    width: 100%;
    z-index: 2000; // move front of some special backgrounds
}

.header-logo {
    width: 112px;
}

.site-nav {
    background-color: $blue-dark;
    border-bottom: 1px solid $blue-color-light;

    .navbar-nav {

        li:not(:last-child) a {
            // One pixel smaller since the navbar expands at $sm - 1
            @media(max-width: $sm - 1) {
                border-bottom: 1px solid $blue-color-light;
            }
        }

        li>a {
            color: $text-color-white;
            padding: 10px 0px;
            margin: 20px 20px;
            @extend .uppercase;

            &:hover {
                color: $blue-color;
            }

            @media(max-width: $sm - 1) {
                padding: 30px 20px;
                margin: 0;
                text-align: center;

                &:hover {
                    background-color: $blue-color;
                    color: $text-color-white;
                }
            }
        }

        .active>a {
            background-color: transparent;
        }
    }

    .navbar-brand {
        height: 100%;
        margin-top: 4px;
    }

    .navbar-toggle {
        border: 0;
        margin: 22px 15px;
        width: 100px;

        .icon-bars {
            float: left;

            > .icon-bar {
                background-color: $blue-color;

                &:first-child {
                    margin-top: 2px;
                }
            }
        }

        &:focus, &:hover {
            background-color: transparent;
        }

        .menu-label {
            float: left;
            font-family: $maven;
            font-weight: $medium;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 17px;
            margin-left: 10px;
        }
    }

    .navbar-collapse {
        border-top: 1px solid $blue-color-light;

        @media(min-width: $sm) {
            border-top: 0;
        }
    }

    .page-link {
        font-family: $maven;
        font-weight: $medium;
        font-size: 14px;
        color: $text-color-white;
        line-height: 17px;
        text-decoration: none;
        background: none;
        border: none;
    }

    .page-link-current {
        @media(max-width: $sm - 1) {
            background-color: $blue-color;
        }

        @media(min-width: $sm) {
            border-bottom: 3px solid $blue-color;
            padding-bottom: 10px;
        }
    }

    .navbar-nav {
        margin: 0px -15px;
    }
}


/**
 * Site footer
 */
.site-footer {
    .footer-container {
        padding-top: $spacing-unit-footer;
        padding-bottom: $spacing-unit-footer;
    }

    background-color: $blue-dark;
    text-align: center;

    @media(min-width: $md) {
        text-align: left;
    }

    .footer-col {
        margin-top: 50px;

        @media(min-width: $sm) {
            margin-top: 0;
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-title {
    font-family: $maven;
    font-weight: $medium;
    font-size: 14px;
    color: $blue-gray-color;
    line-height: 17px;
}

.mailing-lists {

    ul {
        list-style-type: none;
        margin: 0;
    }
}

.footer-col-list,
.social-media-list {
    list-style: none;
    margin: 30px 0 0 0;
    font-family: $maven;
    font-weight: $regular;
    font-size: 14px;
    color: $blue-dark;
    line-height: 14px;

    li {
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }

    a {
        color: $text-color-white;

        &:hover {
            color: $blue-color;
            text-decoration: none;
        }
    }


}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
}

.footer-copyright {
    background-color: $blue-dark;
    font-family: $maven;
    font-weight: $regular;
    font-size: 14px;
    color: $text-color-white;
    line-height: 40px;
    padding: $spacing-unit 0;

    .footer-icons {
        i {
            color: $blue-gray-color;
            margin: 0 10px;

            &:hover {
                color: $text-color-white;
            }
        }
    }
}

.footer-github-buttons {
    margin-top: $spacing-unit;

    @media (min-width: $md) {
        margin-top: calc(#{$spacing-unit} / 2);
    }
}


/**
 * Page content
 */
.page-content {
    position: relative;
}

.page-heading {
    font-size: 20px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Blog
 */
.blog-post-list {
    .blog-post {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.blog-post-frame {
    border-radius: 4px;
    -moz-box-shadow:    0px 1px 4px 0px rgba(25,73,97,0.20);
    box-shadow:         0px 1px 4px 0px rgba(25,73,97,0.20);
    padding: 40px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.blog-post {
    font-family: $maven;
    font-weight: $regular;
    color: $blue-dark;

    h1, h2, h3 {
        font-weight: $regular;
        font-size: 20px;
        line-height: 25px;
        color: $blue-cern-dark;
        margin-top: 25px;
    }

    h3 {
        font-size: 18px;
        color: $blue-cern;
    }
}

.blog-navigation-links a {
    color: $blue-cern-dark;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.blog-navigation-links-top {
    margin-bottom: $spacing-unit;
}

.blog-navigation-links-bot {
    margin-top: $spacing-unit;

    .blog-next-post {
        float: right;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    img {
        cursor: pointer;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.2);
    }

    table td:not(:last-child) {
        padding-right: 10px;
    }
}

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;

  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}






/**
 * General
 */
.section {
    text-align: center;
}

.section-content {
    padding-top: calc(3 * #{$spacing-unit});
    padding-bottom: calc(3 * #{$spacing-unit});

    h2.title {
        text-align: center;
    }
}

.section-content-short {
    padding-top: calc(2 * #{$spacing-unit});
    padding-bottom: calc(2 * #{$spacing-unit});
}

a.no-decoration {
    text-decoration: none;
    &:visited {
            color: $text-color-white;
        }
}

.bg-blue-dark {
    background-color: $blue-dark;
}

.bg-blue-light {
    background-color: $blue-color-even-lighter;
}

.bg-white {
    background-color: white;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.block-center-abs {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.block-right {
    float: right;
}



/**
 * Hero sections
 */
.hero-section {
    background-color: $blue-dark;
    background-position: center;
    background-size: cover;
}

.hero-home {
    background-image: url("../img/hero/home.png");
    height: 851px;
}

.hero-features {
    height: 350px;
    background-image: url("../img/hero/features.png");
}

.hero-getting-started {
    height: 800px;
    background-image: url("../img/hero/getting_started.png");
}

.hero-blog {
    height: 350px;
    background-image: url("../img/hero/blog.png");
}

.hero-contact {
    height: 705px;
    background-image: url("../img/hero/contact.png");
}

.hero-about {
    height: 705px;
    background-image: url("../img/hero/worldmap.png");
}

.hero-roadmap {
    height: 350px;
    background-image: url("../img/hero/roadmap.png");
}

.hero-resources {
    height: 350px;
    background-image: url("../img/hero/resources.png");
}

.hero-section-content {
    padding-top: calc(3 * #{$spacing-unit});
}

.hero-spotlight {
    margin-top: 80px;
}

.hero-spotlight-1 {
    font-family: $ubuntu;
    color: $blue-color-lighter;
    line-height: 25px;
}

.hero-spotlight-line {
    border-bottom: 3px solid $blue-color-lighter;
    width: 20%;
    margin: 20px auto;
}
.hero-spotlight-header {
    margin: 50px 0;
}

.hero-spotlight-header h1 {
    font-family: $ubuntu;
    -webkit-font-smoothing: antialiased;
    color: $text-color-white;
}

.hero-spotlight h2 {
    font-family: $ubuntu;
    font-size: 20px;
    color: $blue-color-lighter;
    line-height: 20px;
    margin-top: calc(3 * #{$spacing-unit});
}

.hero-spotlight-header-home h1 {
    -webkit-font-smoothing: auto;
    font-size: 36px;
    line-height: 56px;

    @media (min-width: $md) {
        font-size: 48px;
    }
}

.hero-spotlight-header-page h1 {
    font-size: 28px;
    line-height: 43px;

    @media (min-width: $sm) {
        font-size: 36px;
    }
}

.hero-spotlight-demo {
    a {
        text-decoration: none;
        border-radius: 40px;
        background: $green-color-bright;
        font-family: $maven;
        font-weight: $medium;
        font-size: 16px;
        color: $text-color-white;
        line-height: 25px;
        padding: 15px 60px;

        &:hover {
            background: $green-color;
        }

        &:active {
            opacity: 0.5;
        }

        &:visited {
            color: $text-color-white;
        }
    }
}

.hero-spotlight-download {
    margin-top: 30px;

    a {
        font-family: $quicksand;
        font-weight: $regular;
        font-size: 14px;
        color: $blue-color-lighter;
        line-height: 17px;

        &:hover {
            color: $text-color-white;
            text-decoration: none;
        }
    }
}

.hero-spotlight-text {
    font-family: $maven;
    font-weight: $regular;
    font-size: 18px;
    color: $text-color-white;
    line-height: 25px;
}

.hero-spotlight-button-lg {
    padding-top: 50px;

    a {
        text-decoration: none;
        border-radius: 40px;
        font-family: $maven;
        font-weight: $regular;
        font-size: 36px;
        line-height: 25px;
        padding: 15px 60px;
        border: 2px solid $green-color;
        color: $text-color-white;

        @media(max-width: $sm) {
            font-size: 17px;
        }
    }
}


/**
 * Home page
 */
.partners-section {
    min-height: 500px;
    background-color: $blue-cern;

    .partner-carousel {
        font-family: $maven;
        font-weight: $regular;
        font-size: 13px;
        color: #FFFFFF;

        @media (min-width: $sm) {
            font-size: 15px;
        }
    }
}

#carousel-partners {

    .item {
        min-height: calc(12 * #{$spacing-unit});

        @media(min-width: $sm) {
            min-height: calc(10 * #{$spacing-unit});
        }
    }

    .carousel-control {
        background: none;
        span {
            position: absolute;
            top: 50%;
            right: 50%;
        }
    }

    .carousel-indicators {
        bottom: -$spacing-unit;
        margin-bottom: 0;
    }
}

.partner-carousel-item-img img {
    max-height: 100px;
    margin-bottom: 20px;

    &.horizontal {
        max-height: 75px;
    }
}

.partner-carousel-item {
    height: 330px;

    .partner-carousel-item-text {
        padding-top: 10px;
    }
}

.features-section {
    font-family: $ubuntu;
    background: #dae5eb;
    .features-section-title {
        color: $blue-dark;
        line-height: 25px;
        margin-bottom: 2em;
    }

    iframe {

        @media(min-width: $md) {
            width: 640px;
        }

        width: 100%;
        height: 360px;
    }


    .features-section-list {
        background-color: $text-color-white;
        text-align: left;

        .list-title {
            color: $blue-dark;
            text-align: center;
        }

        .features-section-feature {
            min-height: 156px;
            padding-top: 50px;

            .features-section-feature-icon {
                text-align: center;

                img {
                    max-width: 70px;
                }
            }

            .features-section-feature-description {
                padding-top: 10px;
                font-family: $quicksand;
                font-size: 16px;
                color: $blue-dark;
                line-height: 24px;
                margin-top: 20px;

                @media(min-width: $md) {
                    margin-top: 0;
                    text-align: left;
                }
            }
        }
    }
}

/**
 * Uses absolute relative and positions so that the text escapes the
 * transparent background "prison". Alternative workaround would be to
 * use a background image that includes the opacity (so there would be
 * no need to apply css opacity).
 */
.safety-net-section {
    color: $blue-dark;

    .safety-net-wrapper {
        position: relative;  // to escape content from transparent prison
        margin: 0 auto;
    }

    h2 {
        font-family: $ubuntu;
        font-weight: $light-300;
        -webkit-font-smoothing: antialiased;
        font-size: 28px;
        line-height: 35px;

        @media (min-width: $sm) {
            font-size: 30px;
            line-height: 38px;
        }

        @media (min-width: $md) {
            font-size: 36px;
            line-height: 43px;
        }

        a {
            color: $blue-color;

            &:hover{
                color: $blue-gray-light;
                text-decoration: none;
            }
        }
    }

    .github-project {
        padding-top: 50px;

        a {
            text-decoration: none;
            border-radius: 40px;
            font-family: $ubuntu;
            font-size: 16px;
            line-height: 25px;
            padding: 15px 60px;
            border: 2px solid $green-color;
            color: $blue-dark;

            &:hover {
                background: $green-color;
                color: $text-color-white;
            }

            &:active {
                opacity: 0.5;
                color: $text-color-white;
            }

            @media(max-width: $sm) {
                font-size: 15px;
            }
        }
    }

    /** Overide colors when in front page **/
    .safety-net-content-absolute {
        position: absolute;
        top: 4.7em;
        left: 15px;     // same as bootstrap col padding
        right: 15px;    // same as bootstrap col padding
        z-index: 1;
        color: $text-color-white;

        .github-project a {
            color: $text-color-white;

            a:visited {
                color: $text-color-white;
            }
        }
    }

    .safety-net-section-fader {
        height: 100%;
        background-image: url("../img/safety_net.png");
        background-size: cover;
        opacity: 0.3;
    }
}

.safety-net-section-home {
    height: 347px;
}

/**
 * Features page
 */
.features-section-listed {
    margin-top: 30px;
    background-image: url('../img/features_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-position: center;

    .section-content {
        padding-top: calc(8 * #{$spacing-unit});

        @media(min-width: $sm) {
            padding-top: calc(10 * #{$spacing-unit});
        }

        @media(min-width: $md) {
            padding-top: calc(12 * #{$spacing-unit});
        }
    }


    .feature-row {
        margin-bottom: calc(3 * #{$spacing-unit});
        text-align: center;
        margin-top: 60px;

        .description {
            flex-direction: column;
            align-items: flex-start;
            font-family: $quicksand;
            padding: 5px 60px;

            h2 {
                font-size: 28px;
                font-family: $ubuntu;
            }

            p {
                font-size: 16px;
                color: $grey-color;
                line-height: 24px;
            }
        }

        .feature-screenshot {
            margin-left: 5%;
            margin-right: 5%;
            max-height: 500px;
            margin-bottom: 40px;

            .carousel-inner {
                box-shadow: 1px 1px 2px 1px lighten($blue-gray-light, 30%);
            }

            .carousel-indicators {
                bottom: -$spacing-unit;
                margin-bottom: 0;
            }

            .carousel-control-prev, .carousel-control-next {
                transition: none;
            }

            .carousel-control-prev {
                margin-left: -12%;
            }

            .carousel-control-next {
                margin-right: -12%;
            }

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                opacity: 0.2;
                filter: brightness(0.2);
            }
        }

        @media(min-width: $lg) {
            text-align: left;
        }
    }

    .green {
        color: $turquoise;
    }

    .green .carousel-indicators li {
        background-color: $turquoise;
    }

    .green .carousel-control-prev-icon {
        color: $turquoise;
    }

    .green .carousel-control-next-icon {
        color: $turquoise;
    }

    .standard {
        color: $blue-color-light;
    }

    .standard .carousel-indicators li {
        background-color: $blue-color-light;
    }

    .standard .carousel-control-prev-icon {
        color: $blue-color-light;
    }

    .standard .carousel-control-next-icon {
        color: $blue-color-light;
    }

    .dark {
        color: $blue-cern-dark;
    }

    .dark .carousel-indicators li {
        background-color: $blue-cern-dark;
    }

    .dark .carousel-control-prev-icon {
        color:  $blue-cern-dark;
    }

    .dark .carousel-control-next-icon {
        color:  $blue-cern-dark;
    }
}

/**
 * Getting Started page
 */

 .getting-started-options {
     font-family: $quicksand;
     margin:100px 10px;

    .option-card {
        margin: 30px;
        padding: 30px;
        height: 200px;
        display: block;
        border: 0.5px solid $blue-gray-light;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50px;
            height: 50px;
        }

        h4 {
            margin-bottom: 10px;
            color: #00A4E4;
            font-weight: bold;
        }

        p {
            color: darken($gray-white, 10%);
        }
    }

    @media(hover: hover) {
        .option-card:hover {
            background: rgba(0, 0, 0, 0.4);
        }

        .resource-card:hover::after {
            width: 100%;
            left: 0;
            background: linear-gradient(to right, #0054b5, #3dd8ff);
        }
    }

 }



/**
 * Contact Us page
 */
.contact-main-section {
    font-family: $maven;
    font-weight: $regular;
    text-align: center;

    @media(min-width: $md) {
        text-align: left;
    }

    h2 {
        font-size: 14px;
        color: $blue-dark;
        line-height: 24px;
        margin-top: calc(2 * #{$spacing-unit});

        @media(min-width: $sm) {
            margin-top: 0;
        }
    }

    div {
        color: $blue-gray-color;
    }
}


/**
 * About Us page
 */
.about-team-wrapper {
    margin-top: $spacing-unit;
    position: relative;
}

.about-team-grid {

    position: absolute;
    min-height: 420px;

    .team-member {

        background-position: center;
        background-image: url('../img/person_placeholder.gif');
        background-size: cover;

        .team-member-note {
            width: 100%;
            margin: 0 -15px;
            position: absolute;
            bottom: 0;
            text-align: left;
            padding: 10px;

            background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, #000000 100%);
            background-image: -moz-linear-gradient(rgba(0,0,0,0.00) 0%, #000000 100%);
            background-image: -ms-linear-gradient(rgba(0,0,0,0.00) 0%, #000000 100%);
            background-image: linear-gradient(rgba(0,0,0,0.00) 0%, #000000 100%);

            font-family: $maven;
            font-weight: $regular;
            font-size: 14px;
            line-height: 18px;
            color: $blue-color-even-lighter;

            .team-member-name {
                color: $text-color-white;
                font-size: 18px;
            }
        }
    }

    .team-member-dev {
        min-height: 320px;
    }

    .team-member-leader {
        min-height: 240px;
    }

    .team-leaders {
        margin-top: $spacing-unit;
    }
}

.about-us-main-section {
    padding-top: calc(80 * #{$spacing-unit});
    text-align: center;

    @media(min-width: $sm) {
        padding-top: calc(37 * #{$spacing-unit});
    }

    @media(min-width: $md) {
        padding-top: calc(25 * #{$spacing-unit});
        text-align: left;
    }
}

.contr-list {
    font-family: $maven;
    font-weight: $regular;
    font-size: 14px;
    line-height: 24px;
    margin-top: calc(2 * #{$spacing-unit});

    @media(min-width: $sm) {
        margin-top: $spacing-unit;
    }

    h2.contr-list-header {
        color: $blue-dark;
        font-size: 14px;
        line-height: 24px;
    }

    ul.contr-list-names {
        color: $blue-gray-light;
        list-style: none;
        margin-left: 0;

        .contr-list-names-date {
            color: $blue-cern;
        }
    }
}

// Roadmap

.roadmap {
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: $quicksand;

    .container {
        background-color: white;
        padding: 0;
        border-bottom: 2px solid $blue-color-lighter;

        h2 {
            text-align: left;
            font-family: $ubuntu;
            color: white;
            font-size: 1.5em;
            border-bottom: 1px solid;
            padding: 10px 40px;
            background-color: lighten($blue-color, 20%);
        }

        h3 {
            font-family: $ubuntu;
            padding: 10px;
            text-align: center;
            color: $brand-color;
            margin-top: 40px;

            del {
                color: lighten($brand-color, 20%);
            }
        }

        blockquote {
            border: none;

            p {
                text-align: center;
                color: gray;
                letter-spacing: 0;
                font-size: 0.8em;
            }
        }

        ul {
            margin: auto;
            width: 60%;
            text-align: left;
            margin-bottom: 20px;
            margin-top: 10px;

            li {
                margin: 0 0 12px 0;
                color: $blue-dark;

                strong {
                    font-weight: bold;
                }

                ul {
                    width: 80%;
                }
            }
        }

        hr {
            margin-top: 50px;
            background-color: $background-color;
            display: block;
            height: 30px;
            border-top: 2px solid $blue-color-lighter;
        }

        a {
            color: $blue-color;
        }

        @media(hover: hover) {
            a:hover {
                color: darken($blue-color, 10%);
                text-decoration: underline;
            }
        }

        p {
            margin: auto;
            width: 60%;
            text-align: left;
            margin-bottom: 20px;
            color: $blue-dark;
        }
    }

}

// Resources

.resources {
    justify-content: center;
    margin-top: 40px;
    font-family: $quicksand;

    .resources-section {
        margin-top: 20px;
        width: 100%;

        .section-title {
            text-align: center;
            margin-bottom: 40px;
            color: $blue-color;
            font-weight: bold;
        }

        .resource-card {
            background: white;
            box-shadow: 1px 1px 2px 1px #cbd8de;
            margin-bottom: 2.25em;
            position: relative;
            display: block;
            padding: 20px;
            border-radius: 5px;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-height: 50px;
                max-width: 60px;
            }

            h4 {
                margin-bottom: 10px;
                color: $blue-dark;

                font-family: $ubuntu;
            }

            p {
                color: gray;
            }
        }

        .resource-card:after {
            content: '';
            position: absolute;
            width: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: linear-gradient(to right, #0054b5, #3dd8ff);
            transition: width .250s ease-in-out;
        }

        @media(hover: hover) {
            .resource-card:hover {
                h4 {
                    color: darken($blue-dark, 8%);
                }

                p {
                    color: darken(gray, 8%);
                }
            }

            .resource-card:hover::after {
                width: 100%;
                left: 0;
                background: linear-gradient(to right, #0054b5, #3dd8ff);
            }
        }

        @media (hover: none) {
            a:hover {
                background: inherit;
            }
        }
    }
}
