/**
 * Indico specific stylesheet.
 * Integration with compass for easier gradients.
 */
/* line 42, ../_sass/indico.scss */
body {
  position: relative;
}

/* line 46, ../_sass/indico.scss */
.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  z-index: 1000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 56, ../_sass/indico.scss */
.section {
  text-align: center;
}

/* line 60, ../_sass/indico.scss */
.hero-section {
  background-color: #1A4A61;
}

/* line 64, ../_sass/indico.scss */
.hero-home {
  background-image: url("../img/conference_hero1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 851px;
}

/* line 71, ../_sass/indico.scss */
.hero-features {
  height: 756px;
}
/* line 77, ../_sass/indico.scss */
.hero-features .hero-section-wrapper {
  height: 756px;
  position: relative;
}
/* line 82, ../_sass/indico.scss */
.hero-features .graphics {
  height: 450px;
  width: 100%;
  background-image: url("../img/graphics.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  background-size: contain;
}
/* line 93, ../_sass/indico.scss */
.hero-features .graphics-macbook {
  height: 450px;
  width: 80%;
  background-image: url("../img/macbook_air.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  bottom: inherit;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  /* line 93, ../_sass/indico.scss */
  .hero-features .graphics-macbook {
    bottom: -150px;
  }
}

/* line 113, ../_sass/indico.scss */
.hero-getting-started {
  height: 620px;
  background-image: url("../img/getting_started_bg.png");
  background-position: center;
}

/* line 119, ../_sass/indico.scss */
.hero-blog {
  background-image: url("../img/blog_header.png");
  background-position: center;
  height: 350px;
}

/* line 125, ../_sass/indico.scss */
.hero-contact {
  background-image: url("../img/contact.png");
  background-position: center;
  height: 705px;
}

/* line 131, ../_sass/indico.scss */
.hero-about {
  background-image: url("../img/worldmap.png");
  background-position: center;
  height: 705px;
}

/* line 137, ../_sass/indico.scss */
.hero-section-fader {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhNGE2MSIvPjxzdG9wIG9mZnNldD0iNjglIiBzdG9wLWNvbG9yPSIjMWE0YTYxIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTRhNjEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a4a61), color-stop(68%, rgba(26, 74, 97, 0.75)), color-stop(100%, #1a4a61));
  background-image: -moz-linear-gradient(top, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  background-image: -webkit-linear-gradient(top, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  background-image: linear-gradient(to bottom, #1a4a61 0%, rgba(26, 74, 97, 0.75) 68%, #1a4a61 100%);
  height: 100%;
}

/* line 142, ../_sass/indico.scss */
.hero-section-content {
  padding-top: calc(3 * 30px);
}

/* line 146, ../_sass/indico.scss */
.hero-spotlight {
  margin-top: 80px;
}

/* line 150, ../_sass/indico.scss */
.hero-spotlight-1 {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 18px;
  color: #9CD5EF;
  line-height: 25px;
}

/* line 158, ../_sass/indico.scss */
.hero-spotlight-line {
  border-bottom: 3px solid #9CD5EF;
  width: 20%;
  margin: 20px auto;
}

/* line 163, ../_sass/indico.scss */
.hero-spotlight-header {
  margin: 50px 0;
}

/* line 167, ../_sass/indico.scss */
.hero-spotlight-header h1 {
  font-family: Maven Pro;
  font-weight: 300;
  color: #FFFFFF;
}

/* line 173, ../_sass/indico.scss */
.hero-spotlight h2 {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 20px;
  color: #9CD5EF;
  line-height: 20px;
  margin-top: calc(3 * 30px);
}

/* line 182, ../_sass/indico.scss */
.hero-spotlight-header-home h1 {
  font-size: 36px;
  line-height: 56px;
}
@media (min-width: 992px) {
  /* line 182, ../_sass/indico.scss */
  .hero-spotlight-header-home h1 {
    font-size: 48px;
  }
}

/* line 191, ../_sass/indico.scss */
.hero-spotlight-header-page h1 {
  font-size: 28px;
  line-height: 43px;
}
@media (min-width: 768px) {
  /* line 191, ../_sass/indico.scss */
  .hero-spotlight-header-page h1 {
    font-size: 36px;
  }
}

/* line 201, ../_sass/indico.scss */
.hero-spotlight-demo a {
  text-decoration: none;
  border-radius: 40px;
  background: #7ED321;
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
  padding: 15px 60px;
}
/* line 212, ../_sass/indico.scss */
.hero-spotlight-demo a:visited {
  color: #FFFFFF;
}

/* line 217, ../_sass/indico.scss */
.hero-spotlight-download {
  margin-top: 30px;
}
/* line 220, ../_sass/indico.scss */
.hero-spotlight-download a {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  color: #9CD5EF;
  line-height: 17px;
}

/* line 228, ../_sass/indico.scss */
.hero-spotlight-text {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
}

/* line 236, ../_sass/indico.scss */
.hero-spotlight-button-lg {
  padding-top: 50px;
}
/* line 239, ../_sass/indico.scss */
.hero-spotlight-button-lg a {
  text-decoration: none;
  border-radius: 40px;
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 36px;
  line-height: 25px;
  padding: 15px 60px;
  border: 2px solid #6AB31D;
  color: #FFFFFF;
}
@media screen and (max-width: 600px) {
  /* line 239, ../_sass/indico.scss */
  .hero-spotlight-button-lg a {
    font-size: 18px;
  }
}

/* line 256, ../_sass/indico.scss */
.partners-section {
  min-height: 450px;
  background-color: #34AAE0;
}
/* line 260, ../_sass/indico.scss */
.partners-section .partner-carousel {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
}
@media (min-width: 768px) {
  /* line 260, ../_sass/indico.scss */
  .partners-section .partner-carousel {
    font-size: 18px;
  }
}

/* line 273, ../_sass/indico.scss */
.section-content {
  padding-top: calc(3 * 30px);
  padding-bottom: calc(3 * 30px);
}

/* line 278, ../_sass/indico.scss */
.section-content-short {
  padding-top: calc(2 * 30px);
  padding-bottom: calc(2 * 30px);
}

/* line 285, ../_sass/indico.scss */
.partner-carousel-item .partner-carousel-item-text {
  padding-top: 40px;
}

/* line 290, ../_sass/indico.scss */
.features-section {
  background-color: #FFFFFF;
}
/* line 293, ../_sass/indico.scss */
.features-section .features-section-title {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 20px;
  color: #1A4A61;
  line-height: 25px;
}
/* line 301, ../_sass/indico.scss */
.features-section .features-section-intro {
  background-image: url("../img/browser_illustration.png");
  background-position: center;
  height: 236px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 301, ../_sass/indico.scss */
  .features-section .features-section-intro {
    margin-top: 70px;
  }
}
/* line 313, ../_sass/indico.scss */
.features-section .features-section-intro .features-section-intro-txt {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  color: #6D92A3;
  line-height: 24px;
  padding: 100px 0;
}
@media (min-width: 768px) {
  /* line 313, ../_sass/indico.scss */
  .features-section .features-section-intro .features-section-intro-txt {
    font-size: 18px;
  }
}
/* line 327, ../_sass/indico.scss */
.features-section .features-section-list {
  background-color: #F0F8FC;
  text-align: left;
}
/* line 331, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature {
  min-height: 156px;
  padding-top: 50px;
}
/* line 339, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature .features-section-feature-icon {
  text-align: center;
}
/* line 343, ../_sass/indico.scss */
.features-section .features-section-list .features-section-feature .features-section-feature-description {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 16px;
  color: #1A4A61;
  line-height: 24px;
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 992px) {
  /* line 343, ../_sass/indico.scss */
  .features-section .features-section-list .features-section-feature .features-section-feature-description {
    margin-top: 0;
    text-align: left;
  }
}

/**
 * Uses absolute relative and positions so that the text escapes the
 * transparent background "prison". Alternative workaround would be to
 * use a background image that includes the opacity (so there would be
 * no need to apply css opacity).
 */
/* line 368, ../_sass/indico.scss */
.safety-net-section {
  color: #1A4A61;
  /** Overide colors when in front page **/
}
/* line 371, ../_sass/indico.scss */
.safety-net-section .safety-net-wrapper {
  position: relative;
  margin: 0 auto;
}
/* line 376, ../_sass/indico.scss */
.safety-net-section h2 {
  font-family: Maven Pro;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
}
@media (min-width: 768px) {
  /* line 376, ../_sass/indico.scss */
  .safety-net-section h2 {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (min-width: 992px) {
  /* line 376, ../_sass/indico.scss */
  .safety-net-section h2 {
    font-size: 36px;
    line-height: 43px;
  }
}
/* line 393, ../_sass/indico.scss */
.safety-net-section .github-project {
  padding-top: 50px;
}
/* line 396, ../_sass/indico.scss */
.safety-net-section .github-project a {
  text-decoration: none;
  border-radius: 40px;
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding: 15px 60px;
  border: 2px solid #6AB31D;
  color: #1A4A61;
}
/* line 407, ../_sass/indico.scss */
.safety-net-section .github-project a:visited {
  color: #1A4A61;
}
/* line 413, ../_sass/indico.scss */
.safety-net-section .safety-net-content-absolute {
  position: absolute;
  top: 4.7em;
  left: 15px;
  right: 15px;
  z-index: 1;
  color: #FFFFFF;
}
/* line 421, ../_sass/indico.scss */
.safety-net-section .safety-net-content-absolute .github-project a {
  color: #FFFFFF;
}
/* line 424, ../_sass/indico.scss */
.safety-net-section .safety-net-content-absolute .github-project a a:visited {
  color: #FFFFFF;
}
/* line 430, ../_sass/indico.scss */
.safety-net-section .safety-net-section-fader {
  height: 100%;
  background-image: url("../img/safety_net.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 437, ../_sass/indico.scss */
.safety-net-section-home {
  height: 347px;
}

/* line 441, ../_sass/indico.scss */
a.no-decoration {
  text-decoration: none;
}
/* line 443, ../_sass/indico.scss */
a.no-decoration:visited {
  color: #FFFFFF;
}

/* line 448, ../_sass/indico.scss */
.bg-blue-dark {
  background-color: #1A4A61;
}

/* line 452, ../_sass/indico.scss */
.bg-blue-light {
  background-color: #F0F8FC;
}

/* line 456, ../_sass/indico.scss */
.block-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* line 462, ../_sass/indico.scss */
.block-center-abs {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 469, ../_sass/indico.scss */
.block-right {
  float: right;
}

/* line 475, ../_sass/indico.scss */
.features-section-listed .section-content {
  padding-top: calc(8 * 30px);
}
@media (min-width: 768px) {
  /* line 475, ../_sass/indico.scss */
  .features-section-listed .section-content {
    padding-top: calc(10 * 30px);
  }
}
@media (min-width: 992px) {
  /* line 475, ../_sass/indico.scss */
  .features-section-listed .section-content {
    padding-top: calc(12 * 30px);
  }
}
/* line 487, ../_sass/indico.scss */
.features-section-listed .features-list > .feature-row:nth-child(even) img {
  float: none;
}
@media (min-width: 992px) {
  /* line 487, ../_sass/indico.scss */
  .features-section-listed .features-list > .feature-row:nth-child(even) img {
    float: right;
  }
}
/* line 495, ../_sass/indico.scss */
.features-section-listed .feature-row {
  font-family: Maven Pro;
  font-weight: 400;
  margin-bottom: calc(3 * 30px);
  text-align: center;
}
/* line 501, ../_sass/indico.scss */
.features-section-listed .feature-row h2 {
  font-size: 20px;
  color: #1A4A61;
  line-height: 25px;
  margin-top: 40px;
}
@media (min-width: 992px) {
  /* line 501, ../_sass/indico.scss */
  .features-section-listed .feature-row h2 {
    margin-top: 0;
  }
}
/* line 512, ../_sass/indico.scss */
.features-section-listed .feature-row img {
  border-radius: 8px;
  border: 2px solid #9CD5EF;
}
/* line 517, ../_sass/indico.scss */
.features-section-listed .feature-row p {
  font-size: 16px;
  color: #6D92A3;
  line-height: 24px;
}
@media (min-width: 992px) {
  /* line 495, ../_sass/indico.scss */
  .features-section-listed .feature-row {
    text-align: left;
  }
}

/* line 528, ../_sass/indico.scss */
.options-wrapper {
  margin-top: calc(2 * 30px);
  position: relative;
}

/* line 533, ../_sass/indico.scss */
.getting-started-options {
  padding: 30px 20px;
  position: absolute;
  min-height: 420px;
  border-radius: 7px;
  background: #F0F8FC;
  -moz-box-shadow: 0px 1px 0px 0px rgba(25, 73, 97, 0.05), 0px 20px 40px 0px rgba(25, 73, 97, 0.25);
  box-shadow: 0px 1px 0px 0px rgba(25, 73, 97, 0.05), 0px 20px 40px 0px rgba(25, 73, 97, 0.25);
}
@media (min-width: 992px) {
  /* line 533, ../_sass/indico.scss */
  .getting-started-options {
    padding: 50px 70px;
  }
}
/* line 547, ../_sass/indico.scss */
.getting-started-options .options-description {
  font-family: Maven Pro;
  font-weight: 400;
  font-size: 16px;
  color: #6D92A3;
  line-height: 24px;
}
/* line 554, ../_sass/indico.scss */
.getting-started-options .option {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  color: #1A4A61;
  line-height: 18px;
}
/* line 561, ../_sass/indico.scss */
.getting-started-options .option .inner-wrapper {
  height: 100%;
  border-radius: 8px;
  border: 2px solid #9CD5EF;
  padding: 20px;
  min-height: 160px;
  margin-top: 20px;
}
/* line 572, ../_sass/indico.scss */
.getting-started-options .option .row img {
  min-height: 48px;
}
/* line 576, ../_sass/indico.scss */
.getting-started-options .option .row div {
  margin-top: 30px;
}

/* line 583, ../_sass/indico.scss */
.download-section {
  height: 800px;
}

/* line 587, ../_sass/indico.scss */
.contact-main-section {
  font-family: Maven Pro;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 992px) {
  /* line 587, ../_sass/indico.scss */
  .contact-main-section {
    text-align: left;
  }
}
/* line 596, ../_sass/indico.scss */
.contact-main-section h2 {
  font-size: 14px;
  color: #1A4A61;
  line-height: 24px;
  margin-top: calc(2 * 30px);
}
@media (min-width: 768px) {
  /* line 596, ../_sass/indico.scss */
  .contact-main-section h2 {
    margin-top: 0;
  }
}
/* line 607, ../_sass/indico.scss */
.contact-main-section div {
  color: #7A8F99;
}

/* line 614, ../_sass/indico.scss */
#carousel-partners .item {
  min-height: calc(12 * 30px);
}
@media (min-width: 768px) {
  /* line 614, ../_sass/indico.scss */
  #carousel-partners .item {
    min-height: calc(10 * 30px);
  }
}
/* line 622, ../_sass/indico.scss */
#carousel-partners .carousel-control {
  background: none;
}
/* line 624, ../_sass/indico.scss */
#carousel-partners .carousel-control span {
  position: absolute;
  top: 50%;
  right: 50%;
}
/* line 631, ../_sass/indico.scss */
#carousel-partners .carousel-indicators {
  bottom: -30px;
  margin-bottom: 0;
}

/* line 637, ../_sass/indico.scss */
.about-team-wrapper {
  margin-top: 30px;
  position: relative;
}

/* line 642, ../_sass/indico.scss */
.about-team-grid {
  position: absolute;
  min-height: 420px;
}
/* line 647, ../_sass/indico.scss */
.about-team-grid .team-member {
  background-position: center;
}
/* line 651, ../_sass/indico.scss */
.about-team-grid .team-member .team-member-note {
  width: 100%;
  margin: 0 -15px;
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background-image: -o-linear-gradient(transparent 0%, #000000 100%);
  background-image: -moz-linear-gradient(transparent 0%, #000000 100%);
  background-image: -ms-linear-gradient(transparent 0%, #000000 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #F0F8FC;
}
/* line 671, ../_sass/indico.scss */
.about-team-grid .team-member .team-member-note .team-member-name {
  color: #FFFFFF;
  font-size: 18px;
}
/* line 678, ../_sass/indico.scss */
.about-team-grid .team-member-dev {
  background-image: url("http://placehold.it/320x320");
  min-height: 320px;
}
/* line 683, ../_sass/indico.scss */
.about-team-grid .team-leaders {
  margin-top: 30px;
}
/* line 687, ../_sass/indico.scss */
.about-team-grid .team-member-leader {
  background-image: url("http://placehold.it/240x240");
  min-height: 240px;
}

/* line 693, ../_sass/indico.scss */
.about-us-main-section {
  padding-top: calc(80 * 30px);
  text-align: center;
}
@media (min-width: 768px) {
  /* line 693, ../_sass/indico.scss */
  .about-us-main-section {
    padding-top: calc(37 * 30px);
  }
}
@media (min-width: 992px) {
  /* line 693, ../_sass/indico.scss */
  .about-us-main-section {
    padding-top: calc(25 * 30px);
    text-align: left;
  }
}

/* line 707, ../_sass/indico.scss */
.contr-list {
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: calc(2 * 30px);
}
@media (min-width: 768px) {
  /* line 707, ../_sass/indico.scss */
  .contr-list {
    margin-top: 30px;
  }
}
/* line 718, ../_sass/indico.scss */
.contr-list h2.contr-list-header {
  color: #1A4A61;
  font-size: 14px;
  line-height: 24px;
}
/* line 724, ../_sass/indico.scss */
.contr-list ul.contr-list-names {
  color: #6D92A3;
  list-style: none;
  margin-left: 0;
}
/* line 729, ../_sass/indico.scss */
.contr-list ul.contr-list-names .contr-list-names-date {
  color: #34AAE0;
}
