<footer class="site-footer">
  <div class="container footer-container">
    <div class="row">
      <div class="col-sm-9 col-12 block-center">
        <div class="row footer-col-wrapper">
          <div class="footer-col col-md-2 col-sm-4 col-12">
            <h3 class="footer-col-title">PRODUCT</h3>
            <ul class="footer-col-list">
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/features/">Features</a></li>
              <li><a href="{{ site.baseurl }}/getting-started/">Getting Started</a></li>
            </ul>
          </div>
          <div class="footer-col col-md-2 col-sm-4 col-12">
            <h3 class="footer-col-title">SUPPORT</h3>
            <ul class="footer-col-list">
              <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
              <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
              <li><a href="https://docs.getindico.io/en/latest/">ReadTheDocs</a></li>
            </ul>
          </div>
          <div class="footer-col col-md-2 col-sm-4 col-12">
            <h3 class="footer-col-title">OTHER</h3>
            <ul class="footer-col-list">
              <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
              <li><a href="https://github.com/indico/indico/releases">Releases</a></li>
              <li><a href="https://github.com/indico/indico/issues">Issues</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-12 text-center footer-github-buttons">
            <div class="row">
              <div class="col-6 text-right">
                <span class="github-btn hide" data-user="indico" data-repo="indico" data-type="watch" data-count="1"></span>
              </div>
              <div class="col-6 text-left">
                <span class="github-btn hide" data-user="indico" data-repo="indico" data-type="fork" data-count="1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-12">Copyright &copy; 2014–2019 CERN. All rights reserved.</div>
        <div class="col-md-2 col-12">
          <span class="footer-icons">
            <a class="no-decoration" href="https://twitter.com/getindico"><i class="fa fa-twitter fa-lg"></i></a>
            <a class="no-decoration" href="https://github.com/indico/indico"><i class="fa fa-github-alt fa-lg"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
