<footer class="site-footer">
  <div class="container footer-container">
    <div class="row">
      <div class="col-sm-9 col-xs-12 block-center">
          <div class="row footer-col-wrapper">
            <div class="col-md-2 col-xs-4">
              <h3 class="footer-col-title">PRODUCT</h3>
              <ul class="footer-col-list">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/features/">Features</a></li>
                <li><a href="{{ site.baseurl }}/getting-started/">Getting Started</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-xs-4">
              <h3 class="footer-col-title">SUPPORT</h3>
              <ul class="footer-col-list">
                <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
                <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
                <li><a href="https://readthedocs.org/projects/indico/">ReadTheDocs</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-xs-4">
              <h3 class="footer-col-title">OTHER</h3>
              <ul class="footer-col-list">
                <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                <li><a href="https://github.com/indico/indico/releases">Releases</a></li>
                <li><a href="https://github.com/indico/indico/issues">Issues</a></li>
              </ul>
            </div>

            <div class="col-md-6 col-xs-12 text-center footer-github-buttons">
              <iframe src="http://ghbtns.com/github-btn.html?user=indico&repo=indico&type=star&count=true&size=large"
              allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
              <iframe src="http://ghbtns.com/github-btn.html?user=indico&repo=indico&type=watcg&count=true&size=large"
              allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="wrapper">
    Copyright &copy; 2014 CERN. All rights 
    <span class="footer-icons">
      <a class="no-decoration" href="#"><i class="fa fa-twitter fa-lg"></i></a>
      <a class="no-decoration" href="#"><i class="fa fa-github-alt fa-lg"></i></a>
    </span>
  </div>
</div>
</footer>