<header class="site-header">
  <nav class="navbar navbar-expand-sm site-nav">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}">
        <img class="header-logo" src="{{ site.baseurl }}/img/indico-blue-white.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <img src="{{ site.baseurl }}/img/hamburger-menu.png">
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {% assign pages = site.pages | sort:"weight" %}
          {% for p in pages %}
            {% unless p.exclude_from_nav %}
              {% assign class_holder = "" %}
              {% if p.title %}
                {% if p.url == page.url %}
                  {% assign class_holder = " page-link-current" %}
                {% endif %}
                <li class="nav-item">
                  <a class="page-link{{ class_holder }}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                </li>
              {% endif %}
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
