/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: absolute;
    width: 100%;
    z-index: 1; // move front of some special background images
}

.header-logo {
    width: 112px;
}

.site-nav {
    background-color: $blue-dark;
    border-bottom: 1px solid $blue-color-light;

    .navbar-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }

    .navbar-nav {

        li:not(:last-child) a {
            @media(max-width: $sm - 1) {
                border-bottom: 1px solid $blue-color-light;
            }
        }

        li>a {
            color: $text-color-white;
            padding: 10px 0px;
            margin: 20px 20px;



            @media(max-width: $sm - 1) {
                padding: 30px 20px;
                margin: 0;
                text-align: center;

                &:hover {
                    background-color: $blue-color;
                }
            }
        }

        li>a:hover {
            color: $text-color-white;
        }
        .active>a {
            background-color: transparent;
        }
    }

    .navbar-brand {
        height: 100%;
        margin-top: 4px;
    }

    .navbar-toggle {
        border: 0;
        margin: 22px 15px;
        width: 100px;

        .icon-bars {
            float: left;

            > .icon-bar {
                background-color: $blue-color;

                &:first-child {
                    margin-top: 2px;
                }
            }
        }

        &:hover {
            background-color: transparent;
        }

        .menu-label {
            float: left;
            font-family: $maven;
            font-weight: $maven-medium;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 17px;
            margin-left: 10px;
        }
    }

    .navbar-collapse {
        border-top: 1px solid $blue-color-light;
        @media(min-width: $sm) {
            border-top: 0;
        }
    }

    .page-link {
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 14px;
        color: $text-color-white;
        line-height: 17px;
        text-decoration: none;
    }

    .page-link-current {
        @media(max-width: $sm - 1) {
            background-color: $blue-color;
        }

        @media(min-width: $sm) {
            border-bottom: 3px solid $blue-color;
            padding-bottom: 10px;
        }
    }

    .navbar-nav {
        margin: 0px -15px;
    }
}

/**
 * Site footer
 */
.site-footer {
    .footer-container {
        padding-top: $spacing-unit-footer;
        padding-bottom: $spacing-unit-footer;
    }

    text-align: center;

    @media(min-width: $md) {
        text-align: left;
    }

    .footer-col {
        margin-top: 50px;

        @media(min-width: $sm) {
            margin-top: 0;
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-title {
    font-family: $maven;
    font-weight: $maven-medium;
    font-size: 14px;
    color: $blue-gray-color;
    line-height: 17px;
}

.footer-col-list,
.social-media-list {
    list-style: none;
    margin: 30px 0 0 0;
    font-family: $maven;
    font-weight: $maven-medium;
    font-size: 14px;
    color: $blue-dark;
    line-height: 14px;

    li {
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }

    a {
        color: $blue-dark;
    }


}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
}

.footer-copyright {
    background-color: $blue-dark;
    font-family: $maven;
    font-weight: $maven-medium;
    font-size: 14px;
    color: $text-color-white;
    line-height: 40px;
    padding: $spacing-unit 0;

    .footer-icons {
        
        i {
            color: $blue-gray-color;
            margin: 0 10px;
        }
    }
}

.footer-github-buttons {
    margin-top: $spacing-unit;
    @media (min-width: $md) {
        margin-top: calc(#{$spacing-unit} / 2);
    }
}


/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.blog-post-list {
    .blog-post {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.blog-post-frame {
    border-radius: 4px;
    -moz-box-shadow:    0px 1px 4px 0px rgba(25,73,97,0.20);
    box-shadow:         0px 1px 4px 0px rgba(25,73,97,0.20);
    padding: 40px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.blog-post {
    font-family: $maven;
    font-weight: $maven-medium;
    color: $blue-dark;

    h1, h2 {
        font-weight: $maven-regular;
        font-size: 20px;
        line-height: 25px;
        color: $blue-cern-dark;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.blog-navigation-links a {
    color: $blue-cern-dark;
}

.blog-navigation-links-top {
    margin-bottom: $spacing-unit;
}

.blog-navigation-links-bot {
    margin-top: $spacing-unit;

    .blog-next-post {
        float: right;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.text-center {
    text-align: center;
}

/** 6 col grid sustem
 *  Bootstrap-like grid system, using Jekyll's naming conventions.
 */

.grid-col {
    float: left;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    min-height: 1px;
}

.col-desk-1 {
    width: -webkit-calc(16.66% - #{$spacing-unit});
    width:         calc(16.66% - #{$spacing-unit});
}

.col-desk-2 {
    width: -webkit-calc(33.33% - #{$spacing-unit});
    width:         calc(33.33% - #{$spacing-unit});
}

.col-desk-3 {
    width: -webkit-calc(50% - #{$spacing-unit});
    width:         calc(50% - #{$spacing-unit});
}

.col-desk-4 {
    width: -webkit-calc(66.66% - #{$spacing-unit});
    width:         calc(66.66% - #{$spacing-unit});
}

.col-desk-5 {
    width: -webkit-calc(83.33% - #{$spacing-unit});
    width:         calc(83.33% - #{$spacing-unit});
}

.col-desk-6 {
    width: -webkit-calc(100% - #{$spacing-unit});
    width:         calc(100% - #{$spacing-unit});
}

@include media-query($on-laptop) {
    .col-lapt-1 {
        width: -webkit-calc(16.66% - #{$spacing-unit});
        width:         calc(16.66% - #{$spacing-unit});
    }

    .col-lapt-2 {
        width: -webkit-calc(33.33% - #{$spacing-unit});
        width:         calc(33.33% - #{$spacing-unit});
    }

    .col-lapt-3 {
        width: -webkit-calc(50% - #{$spacing-unit});
        width:         calc(50% - #{$spacing-unit});
    }

    .col-lapt-4 {
        width: -webkit-calc(66.66% - #{$spacing-unit});
        width:         calc(66.66% - #{$spacing-unit});
    }

    .col-lapt-5 {
        width: -webkit-calc(83.33% - #{$spacing-unit});
        width:         calc(83.33% - #{$spacing-unit});
    }

    .col-lapt-6 {
        width: -webkit-calc(100% - #{$spacing-unit});
        width:         calc(100% - #{$spacing-unit});
    }
}

@include media-query($on-palm) {
    .col-palm-1 {
        width: -webkit-calc(16.66% - #{$spacing-unit});
        width:         calc(16.66% - #{$spacing-unit});
    }

    .col-palm-2 {
        width: -webkit-calc(33.33% - #{$spacing-unit});
        width:         calc(33.33% - #{$spacing-unit});
    }

    .col-palm-3 {
        width: -webkit-calc(50% - #{$spacing-unit});
        width:         calc(50% - #{$spacing-unit});
    }

    .col-palm-4 {
        width: -webkit-calc(66.66% - #{$spacing-unit});
        width:         calc(66.66% - #{$spacing-unit});
    }

    .col-palm-5 {
        width: -webkit-calc(83.33% - #{$spacing-unit});
        width:         calc(83.33% - #{$spacing-unit});
    }

    .col-palm-6 {
        width: -webkit-calc(100% - #{$spacing-unit});
        width:         calc(100% - #{$spacing-unit});
    }
}

.col-desk-1, .col-desk-2, .col-desk-3,
.col-desk-4, .col-desk-5, .col-desk-6,
.col-lapt-1, .col-lapt-2, .col-lapt-3,
.col-lapt-4, .col-lapt-5, .col-lapt-6,
.col-palm-1, .col-palm-2, .col-palm-3,
.col-palm-4, .col-palm-5, .col-palm-6 {
    box-sizing: border-box;
}

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}