/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $blue-color-light;

    // Positioning context for the mobile navigation icon
    position: absolute;
    width: 100%;
    padding: 10px 0;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.header-logo {
    width: 112px;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 14px;
        color: $blue-dark;
        line-height: 17px;
        text-decoration: none;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 40px;
        }

        @media (min-width: $sm) {
            color: $text-color-white;
        }
    }

    .page-link-current {
        border-bottom: 3px solid $blue-color;
        padding-bottom: 10px;
    }

    @include media-query($sm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    .footer-container {
        padding-top: $spacing-unit-footer;
        padding-bottom: $spacing-unit-footer;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-title {
    font-family: $maven;
    font-weight: $maven-medium;
    font-size: 14px;
    color: $blue-gray-color;
    line-height: 17px;
}

.footer-col-list,
.social-media-list {
    list-style: none;
    margin: 30px 0 0 0;
    font-family: $maven;
    font-weight: $maven-medium;
    font-size: 14px;
    color: $blue-dark;
    line-height: 14px;

    li {
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }

    a {
        color: $blue-dark;
    }


}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
}

.footer-copyright {
    background-color: $blue-dark;
    height: 81px;
    font-family: $maven;
    font-weight: $maven-medium;
    font-size: 14px;
    color: $text-color-white;
    line-height: 81px;

    .footer-icons {
        float: right;
        
        i {
            margin-left: 25px;
            color: $blue-gray-color;
        }
    }
}

.footer-github-buttons {
    margin-top: $spacing-unit;
    @media (min-width: $md) {
        margin-top: calc(#{$spacing-unit} / 2);
    }
}


/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.blog-post-list {
    .blog-post {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.blog-post-frame {
    border-radius: 4px;
    -moz-box-shadow:    0px 1px 4px 0px rgba(25,73,97,0.20);
    box-shadow:         0px 1px 4px 0px rgba(25,73,97,0.20);
    padding: 40px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.blog-post {
    h1, h2 {
        font-family: $maven;
        font-weight: $maven-regular;
        font-size: 20px;
        color: $blue-cern-dark;
        line-height: 25px;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.blog-back-link {
    margin-bottom: $spacing-unit;
    a {
        color: $blue-cern-dark;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.text-center {
    text-align: center;
}

/** 6 col grid sustem
 *  Bootstrap-like grid system, using Jekyll's naming conventions.
 */

.grid-col {
    float: left;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    min-height: 1px;
}

.col-desk-1 {
    width: -webkit-calc(16.66% - #{$spacing-unit});
    width:         calc(16.66% - #{$spacing-unit});
}

.col-desk-2 {
    width: -webkit-calc(33.33% - #{$spacing-unit});
    width:         calc(33.33% - #{$spacing-unit});
}

.col-desk-3 {
    width: -webkit-calc(50% - #{$spacing-unit});
    width:         calc(50% - #{$spacing-unit});
}

.col-desk-4 {
    width: -webkit-calc(66.66% - #{$spacing-unit});
    width:         calc(66.66% - #{$spacing-unit});
}

.col-desk-5 {
    width: -webkit-calc(83.33% - #{$spacing-unit});
    width:         calc(83.33% - #{$spacing-unit});
}

.col-desk-6 {
    width: -webkit-calc(100% - #{$spacing-unit});
    width:         calc(100% - #{$spacing-unit});
}

@include media-query($on-laptop) {
    .col-lapt-1 {
        width: -webkit-calc(16.66% - #{$spacing-unit});
        width:         calc(16.66% - #{$spacing-unit});
    }

    .col-lapt-2 {
        width: -webkit-calc(33.33% - #{$spacing-unit});
        width:         calc(33.33% - #{$spacing-unit});
    }

    .col-lapt-3 {
        width: -webkit-calc(50% - #{$spacing-unit});
        width:         calc(50% - #{$spacing-unit});
    }

    .col-lapt-4 {
        width: -webkit-calc(66.66% - #{$spacing-unit});
        width:         calc(66.66% - #{$spacing-unit});
    }

    .col-lapt-5 {
        width: -webkit-calc(83.33% - #{$spacing-unit});
        width:         calc(83.33% - #{$spacing-unit});
    }

    .col-lapt-6 {
        width: -webkit-calc(100% - #{$spacing-unit});
        width:         calc(100% - #{$spacing-unit});
    }
}

@include media-query($on-palm) {
    .col-palm-1 {
        width: -webkit-calc(16.66% - #{$spacing-unit});
        width:         calc(16.66% - #{$spacing-unit});
    }

    .col-palm-2 {
        width: -webkit-calc(33.33% - #{$spacing-unit});
        width:         calc(33.33% - #{$spacing-unit});
    }

    .col-palm-3 {
        width: -webkit-calc(50% - #{$spacing-unit});
        width:         calc(50% - #{$spacing-unit});
    }

    .col-palm-4 {
        width: -webkit-calc(66.66% - #{$spacing-unit});
        width:         calc(66.66% - #{$spacing-unit});
    }

    .col-palm-5 {
        width: -webkit-calc(83.33% - #{$spacing-unit});
        width:         calc(83.33% - #{$spacing-unit});
    }

    .col-palm-6 {
        width: -webkit-calc(100% - #{$spacing-unit});
        width:         calc(100% - #{$spacing-unit});
    }
}

.col-desk-1, .col-desk-2, .col-desk-3,
.col-desk-4, .col-desk-5, .col-desk-6,
.col-lapt-1, .col-lapt-2, .col-lapt-3,
.col-lapt-4, .col-lapt-5, .col-lapt-6,
.col-palm-1, .col-palm-2, .col-palm-3,
.col-palm-4, .col-palm-5, .col-palm-6 {
    box-sizing: border-box;
}