/**
 * Indico specific stylesheet.
 * Integration with compass for easier gradients.
 */

@import "compass";

$maven:            Maven Pro;
$maven-medium:     400;
$maven-regular:    500; // regular = normal
$maven-light-300:  300; // MavenProLight300-Regular
$maven-light-200:  200; // maven-pro-light-200

$spacing-unit:     30px;
$spacing-unit-footer: 60px;

$blue-color:        #2D98C8;
$blue-color-light:  #297699;
$blue-color-lighter:#9CD5EF;
$blue-color-even-lighter: #F0F8FC;
$blue-cern:         #34AAE0;
$blue-cern-dark:    #1291CF;
$blue-dark:         #1A4A61;
$text-color-white:  #FFFFFF;
$green-color:       #7ED321;
$blue-gray-color:   #7A8F99;
$blue-gray-light:   #6D92A3;

$on-palm:          600px;
$on-laptop:        800px;

$sm:                768px;
$md:                992px;
$lg:                1200px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.section {
    text-align: center;
}

.hero-section {
    background-color: $blue-dark;
}

.hero-home {
    background-image: url("../img/conference_hero.png");
    background-position: center;
    height: 851px;
}

.hero-features {
    // background-image: url("../img/features_hero.png");
    // background-position: center;
    height: 756px;
    // background-size: cover;

    .hero-section-wrapper {
        height: 756px;
        position: relative;
    }

    .graphics {
        height: 450px;
        width: 100%;
        background-image: url('../img/graphics.png');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        background-size: contain;
    }

    .graphics-macbook {
        height: 450px;
        width: 80%;
        background-image: url('../img/macbook_air.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left:0;
        right:0;
        bottom: -150px;
        margin-left:auto;
        margin-right:auto;
    }
}

.hero-getting-started {
    height: 620px;
}

.hero-blog {
    background-image: url("../img/blog_header.png");
    background-position: center;
    height: 350px;
}

.hero-contact {
    background-image: url("../img/contact.png");
    background-position: center;
    height: 705px;
}

.hero-about {
    background-image: url("../img/worldmap.png");
    background-position: center;
    height: 705px;
}

.hero-section-fader {
	@include background-image(linear-gradient(top, rgba(26,74,97,1) 0%,rgba(26,74,97,0.75) 68%,rgba(26,74,97,1) 100%));
	height: 100%;
 }

.hero-section-content {
    padding-top: calc(3 * #{$spacing-unit});
}

.hero-spotlight {
    margin-top: 80px;
}

.hero-spotlight-1 {
    font-family: $maven;
    font-weight: $maven-regular;
    font-size: 18px;
    color: $blue-color-lighter;
    line-height: 25px;
}

.hero-spotlight-line {
    border-bottom: 3px solid $blue-color-lighter;
    width: 20%;
    margin: 20px auto;
}
.hero-spotlight-header {
    margin: 50px 0;
}

.hero-spotlight-header h1 {
    font-family: $maven;
    font-weight: $maven-light-300;
    color: $text-color-white;
}

.hero-spotlight-header-home h1 {
    font-size: 36px;
    line-height: 56px;

    @media (min-width: $md) {
        font-size: 48px;
    }
}

.hero-spotlight-header-page h1 {
    font-size: 28px;
    line-height: 43px;

    @media (min-width: $sm) {
            font-size: 36px;
    }
}

.hero-spotlight-demo {
    a {
        text-decoration: none;
        border-radius: 40px;
        background: $green-color;
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 16px;
        color: $text-color-white;
        line-height: 25px;
        padding: 15px 60px;
    }
    a:visited {
        color: $text-color-white;
    }
}

.hero-spotlight-download {
    margin-top: 30px;

    a {
        font-family: $maven;
        font-weight: $maven-regular;
        font-size: 14px;
        color: $blue-color-lighter;
        line-height: 17px;    }
}

.hero-spotlight-text {
    font-family: $maven;
    font-weight: $maven-medium;
    font-size: 18px;
    color: $text-color-white;
    line-height: 25px;
}

.hero-spotlight-button-lg {
    padding-top: 50px;

    a {
        text-decoration: none;
        border-radius: 40px;
        font-family: $maven;
        font-weight: $maven-regular;
        font-size: 36px;
        line-height: 25px;
        padding: 15px 60px;
        border: 2px solid #6AB31D;
        color: $text-color-white;

        @include media-query($on-palm) {
            font-size: 18px;
        }
    }
}

.partners-section {
    height: 450px;
    background-color: $blue-cern;

    .partner-carousel {
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 24px;

        @media (min-width: $sm) {
                font-size: 18px;
        }        
    }
}

.section-content {
    padding-top: calc(3 * #{$spacing-unit});
    padding-bottom: calc(3 * #{$spacing-unit});
}

.partner-carousel-item {

    .partner-carousel-item-text {
        padding-top: 40px;
    }
}

.features-section {
    background-color: $text-color-white;

    .features-section-title {
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 20px;
        color: $blue-dark;
        line-height: 25px;
    }

    .features-section-intro {
        background-image: url("../img/browser_illustration.png");
        background-position: center;
        height: 236px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 20px;

        @media (min-width: $sm) {
                margin-top: 70px;
        }

        .features-section-intro-txt {
            font-family: $maven;
            font-weight: $maven-regular;
            font-size: 14px;
            color: $blue-gray-light;
            line-height: 24px;
            padding: 100px 0;

            @media (min-width: $sm) {
                    font-size: 18px;
            }
        }
    }

    .features-section-list {
        background-color: $blue-color-even-lighter;
        text-align: left;

        .features-section-feature {
            min-height: 156px;
            padding-top: 50px;

            // &:not(:last-child) {
            //     padding-bottom: 50px;
            // }

            .features-section-feature-icon {
                text-align: center;
            }

            .features-section-feature-description {
                font-family: $maven;
                font-weight: $maven-regular;
                font-size: 16px;
                color: $blue-dark;
                line-height: 24px;
            }
        }
    }
}


/**
 * Uses absolute relative and positions so that the text escapes the
 * transparent background "prison". Alternative workaround would be to
 * use a background image that includes the opacity (so there would be
 * no need to apply css opacity).
 */
.safety-net-section {
    height: 347px;
    color: $blue-dark;

    .safety-net-wrapper {
        position: relative;  // to escape content from transparent prison
        margin: 0 auto;
    }

    h2 {
        font-family: $maven;
        font-weight: $maven-light-300;
        font-size: 28px;
        line-height: 35px;

        @media (min-width: $sm) {
            font-size: 30px;
            line-height: 38px;
        }

        @media (min-width: $md) {
            font-size: 36px;
            line-height: 43px;
        }
    }

    .github-project {
        padding-top: 50px;

        a {
            text-decoration: none;
            border-radius: 40px;
            font-family: $maven;
            font-weight: $maven-medium;
            font-size: 16px;
            line-height: 25px;
            padding: 15px 60px;
            border: 2px solid #6AB31D;
            color: $blue-dark;
        }
        a:visited {
            color: $blue-dark;
        }
    }

    /** Overide colors when in front page **/
    .safety-net-content-absolute {
        position: absolute;
        top: 4.7em;
        left: 15px;     // same as bootstrap col padding
        right: 15px;    // same as bootstrap col padding
        z-index: 1;
        color: $text-color-white;

        .github-project a {
            color: $text-color-white;

            a:visited {
                color: $text-color-white;
            }
        }
    }

    .safety-net-section-fader {
        height: 100%;
        background-image: url("../img/safety_net.png");
        @include opacity(0.3);
    }
}

.safety-net-section-blog {
    height: 210px;
}

a.no-decoration {
    text-decoration: none;
    &:visited {
            color: $text-color-white;
        }
}

.bg-blue-dark {
    background-color: $blue-dark;
}

.bg-blue-light {
    background-color: $blue-color-even-lighter;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.block-right {
    float: right;
}

.features-section-listed {

    .section-content {
        padding-top: calc(8 * #{$spacing-unit});

        @media(min-width: $sm) {
            padding-top: calc(10 * #{$spacing-unit});
        }

        @media(min-width: $md) {
            padding-top: calc(12 * #{$spacing-unit});
        }
    }

    .feature-row {
        font-family: $maven;
        font-weight: $maven-medium;
        margin-bottom: calc(3 * #{$spacing-unit});

        h2 {
            font-size: 20px;
            color: $blue-dark;
            line-height: 25px;
        }

        p {
            font-size: 16px;
            color: $blue-gray-light;
            line-height: 24px;
        }
    }
}
.options-wrapper {
    position: relative;
}

.getting-started-options {

    .options-description {
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 16px;
        color: $blue-gray-light;
        line-height: 24px;
        margin-top: calc(2 * #{$spacing-unit});
        margin-bottom: calc(2 * #{$spacing-unit});
    }
    .option {
        font-family: $maven;
        font-weight: $maven-regular;
        font-size: 14px;
        color: #1A4A61;
        line-height: 18px;
        border-radius: 8px;
        border: 2px solid #9CD5EF;
        margin: 0 15px;
        min-height: 190px;
        position: relative;

        .wrapper {
            position: relative;
        }

        .row {

            img {
            }

            div {
                position: absolute;
                top: calc(4 * #{$spacing-unit});
                width: 100%;
            }
        }
    }
}

.getting-started-options {
    position: absolute;
    top: calc( 4 * #{$spacing-unit});
    left: calc(#{$spacing-unit} / 2);
    min-height: 420px;
    border-radius: 7px;
    background: $blue-color-even-lighter;
    -moz-box-shadow:    0px 1px 0px 0px rgba(25,73,97,0.05), 0px 20px 40px 0px rgba(25,73,97,0.25);
    box-shadow:         0px 1px 0px 0px rgba(25,73,97,0.05), 0px 20px 40px 0px rgba(25,73,97,0.25);
}