/**
 * Indico specific stylesheet.
 * Integration with compass for easier gradients.
 */

@import "compass";

$maven:            Maven Pro;
$maven-medium:     400;
$maven-regular:    500; // regular = normal
$maven-light-300:  300; // MavenProLight300-Regular
$maven-light-200:  200; // maven-pro-light-200

$blue-color:        #2D98C8;
$blue-color-light:  #297699;
$blue-color-lighter:#9CD5EF;
$blue-color-even-lighter: #F0F8FC;
$blue-cern:         #34AAE0;
$blue-dark:         #1A4A61;
$text-color-white:  #FFFFFF;
$green-color:       #7ED321;
$blue-gray-color:   #7A8F99;

.section {
    text-align: center;
}

.hero-section {
	background-image: url('../img/conference_hero.png');
	background-position: center;
	height: 851px;
}

.hero-section-fader {
	@include background-image(linear-gradient(top, rgba(26,74,97,1) 0%,rgba(26,74,97,0.75) 68%,rgba(26,74,97,1) 100%));
	height: 100%;
 }

.hero-section-content {
    padding-top: 90px;
}

.hero-spotlight {
    margin-top: 80px;
}

.hero-spotlight-1 {
    font-family: $maven;
    font-weight: $maven-regular;
    font-size: 18px;
    color: $blue-color-lighter;
    line-height: 25px;
}

.hero-spotlight-line {
    border-bottom: 3px solid $blue-color-lighter;
    width: 20%;
    margin: 20px auto;
}
.hero-spotlight-2 {
    margin: 50px 0;
}

.hero-spotlight-2 h1 {
    font-family: $maven;
    font-weight: $maven-light-300;
    font-size: 48px;
    color: $text-color-white;
    line-height: 56px;
}

.hero-spotlight-demo {
    a {
        text-decoration: none;
        border-radius: 40px;
        background: $green-color;
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 16px;
        color: $text-color-white;
        line-height: 25px;
        padding: 15px 60px;
    }
    a:visited {
        color: $text-color-white;
    }
}

.hero-spotlight-download {
    margin-top: 30px;

    a {
        font-family: $maven;
        font-weight: $maven-regular;
        font-size: 14px;
        color: $blue-color-lighter;
        line-height: 17px;    }
}

.partners-section {
    height: 450px;
    background-color: $blue-cern;

    .partner-carousel {
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 24px;
        /* CERN - "The European: */
    }
}

.section-content {
    padding: 70px 0;
}

.partner-carousel-item {
    padding: 0px 170px;

    .partner-carousel-item-text {
        padding-top: 40px;
    }
}

.features-section {
    .features-section-title {
        font-family: $maven;
        font-weight: $maven-medium;
        font-size: 20px;
        color: $blue-dark;
        line-height: 25px;
    }

    .features-section-intro {
        background-image: url("../img/browser_illustration.png");
        background-position: center;
        height: 236px;
        background-repeat: no-repeat;
        margin-top: 70px;

        .features-section-intro-txt {
            font-family: $maven;
            font-weight: $maven-regular;
            font-size: 18px;
            color: #6D92A3;
            line-height: 24px;
            padding: 100px 150px;
        }
    }

    .features-section-list {
        background-color: $blue-color-even-lighter;
        text-align: left;

        .col-content {
                padding: 0 80px;
        }

        .features-section-feature {
            clear: both;
            height: 70px;
            padding-top: 50px; 

            // &:not(:last-child) {
            //     padding-bottom: 50px;
            // }

            .features-section-feature-icon {
                width: 62px;
                float: left;
                margin-right: 20px;
            }

            .features-section-feature-description {
                font-family: $maven;
                font-weight: $maven-regular;
                font-size: 16px;
                color: $blue-dark;
                line-height: 24px;
            }
        }
    }
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
}

/**
 * Uses absolute relative and positions so that the text escapes the
 * transparent background "prison". Alternative workaround would be to
 * use a background image that includes the opacity (so there would be 
 * no need to apply css opacity).
 */
.safety-net-section {
    height: 347px;
    color: $blue-dark;
    
    .wrapper {
        position: relative;  // to escape content from transparent prison
    }

    h2 {
        font-family: $maven;
        font-weight: $maven-light-300;
        font-size: 36px;
        line-height: 43px;
    }

    .github-project {
        padding-top: 50px;

        a {
            text-decoration: none;
            border-radius: 40px;
            font-family: $maven;
            font-weight: $maven-medium;
            font-size: 16px;
            line-height: 25px;
            padding: 15px 60px;
            border: 2px solid #6AB31D;
        }
        a:visited {
            color: $blue-dark;
        }
    }

    /** Overide colors when in front page **/
    .safety-net-content-absolute {
        position: absolute;
        top: 4.7em;
        z-index: 1;
        color: $text-color-white;
    
        .github-project {
            a:visited {
                color: $text-color-white;
            }
        }
    }

    .safety-net-section-fader {
        height: 100%;
        background-image: url("../img/safety_net.png");
        @include opacity(0.3);
    }
}

a.no-decoration {
    text-decoration: none;
    &:visited {
            color: $text-color-white;
        }
}

.bg-blue-dark {
    background-color: $blue-dark;
}

.bg-blue-light {
    background-color: $blue-color-even-lighter;
}
