@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// Variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$quicksand:        Quicksand, sans-serif;
$maven:            Maven Pro;
$ubuntu:           Ubuntu, sans-serif;

$spacing-unit:     30px;

// Palette
$white:            #FFF;
$white-dark:       #FDFDFD;
$black:            #111;
$brand:            #2A7AE2;
$indico-blue:      #00A4E4;
$blue:             #2D98C8;
$blue-dark:        #297699;
$blue-darker:      #1A4A61;
$blue-light:       #9CD5EF;
$blue-lighter:     #D8E3E8;
$blue-cern:        #34AAE0;
$blue-cern-dark:   #1291CF;
$blue-gray:        #7A8F99;
$blue-gray-light:  #6D92A3;
$white-blue:       #ebf5fc;
$turquoise:        #2F9C8D;
$green-bright:     #7ED321;
$green:            #6AB31D;
$gray:             #828282;
$gray-light:       #B5B5B5;
$gray-dark:        #6e6e6e;
$blue-gradient:    linear-gradient(to right, #0054B5, #3DD8FF);

$on-palm:          600px;
$on-laptop:        800px;

$sm:               576px;
$md:               768px;
$lg:               992px;
$xl:               1200px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@import '_base';
@import '_plugins';
@import '_syntax-highlighting';


.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/**
 * Darken body when navbar is expanded
 */
body {
    position: relative;
}

a {

    &:hover {
        text-decoration: none;
    }
}

b, strong {
    font-weight: bold !important;
}

.dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 1000;
    opacity: 0.5;
}

.uppercase {
    text-transform: uppercase;
}


/**
 * Site header
 */
.site-header {
    position: absolute;
    width: 100%;
    z-index: 2000; // move front of some special backgrounds
}

.header-logo {
    width: 112px;
}

.site-nav {
    background-color: $blue-darker;
    border-bottom: 1px solid $blue-dark;

    .navbar-nav {

        li:not(:last-child) a {
            // One pixel smaller since the navbar expands at $sm - 1
            @media(max-width: $md - 1) {
                border-bottom: 1px solid $blue-dark;
            }
        }

        li>a {
            color: $white;
            padding: 10px 0px;
            margin: 20px 20px;
            @extend .uppercase;

            &:hover {
                color: $blue;
            }

            @media(max-width: $md - 1) {
                padding: 30px 20px;
                margin: 0;
                text-align: center;

                &:hover {
                    background-color: $blue;
                    color: $white;
                }
            }
        }

        .active>a {
            background-color: transparent;
        }
    }

    .navbar-brand {
        height: 100%;
        margin-top: 4px;
    }

    .navbar-toggle {
        border: 0;
        margin: 22px 15px;
        width: 100px;

        .icon-bars {
            float: left;

            > .icon-bar {
                background-color: $blue;

                &:first-child {
                    margin-top: 2px;
                }
            }
        }

        &:focus, &:hover {
            background-color: transparent;
        }
    }

    .navbar-collapse {
        border-top: 1px solid $blue-dark;
        margin: 0 -15px;
        padding-bottom: 0;
        @media(min-width: $md) {
            border-top: 0;
        }
    }

    .page-link {
        font-family: $maven;
        font-weight: 500;
        font-size: 14px;
        color: $white;
        line-height: 17px;
        text-decoration: none;
        background: none;
        border: none;
    }

    .page-link-current {
        @media(max-width: $md - 1) {
            background-color: $blue;
        }

        @media(min-width: $md) {
            border-bottom: 3px solid $blue;
            padding-bottom: 10px;
        }
    }

    @media(max-width: $md) {
        padding-bottom: 0;
    }
}


/**
 * Site footer
 */
.site-footer {
    .footer-container {
        padding-top: calc(2 * #{$spacing-unit});
        padding-bottom: calc(2 * #{$spacing-unit});
    }

    background-color: $blue-darker;
    text-align: center;

    @media(min-width: $md) {
        text-align: left;
    }

    .footer-col {
        margin-top: 50px;

        @media(min-width: $sm) {
            margin-top: 0;
        }
    }
}

.footer-col-title {
    font-family: $maven;
    font-size: 14px;
    color: $blue-gray;
    line-height: 17px;
}

.mailing-lists {

    ul {
        list-style-type: none;
        margin: 0;
    }
}

.footer-col-list {
    list-style: none;
    margin: 30px 0 0 0;
    font-family: $quicksand;
    font-size: 14px;
    color: $blue-darker;
    line-height: 14px;

    li {
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }

    a {
        color: $white;

        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }


}

.footer-col-wrapper {
    font-size: 15px;
    color: $gray;
}

.footer-copyright {
    background-color: $blue-darker;
    font-family: $quicksand;
    font-size: 14px;
    color: $white;
    line-height: 40px;
    padding: $spacing-unit 0;

    .footer-icons {
        i {
            color: $blue-gray;
            margin: 0 10px;

            &:hover {
                color: $white;
            }
        }
    }
}

.footer-github-buttons {
    margin-top: $spacing-unit;

    @media (min-width: $md) {
        margin-top: calc(#{$spacing-unit} / 2);
    }
}


/**
 * Page content
 */
.page-content {
    position: relative;
}

.post-meta {
    font-size: $small-font-size;
    color: $gray;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Blog
 */
.blog-post-list {
    .blog-post {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.blog-post-frame {
    border-radius: 4px;
    -moz-box-shadow:    0px 1px 4px 0px rgba(25,73,97,0.20);
    box-shadow:         0px 1px 4px 0px rgba(25,73,97,0.20);
    padding: 40px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.blog-post {
    font-family: $quicksand;
    color: $blue-darker;

    %headers {
        margin-top: 1.2em;
        margin-bottom: 1em;
    }

    .post-header h1 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    h1 {
        @extend %headers;
        font-family: $ubuntu;
        font-size: 1.6em;
        color: $blue-cern-dark;
    }

    h2 {
        @extend %headers;
        font-family: $ubuntu;
        font-size: 1.4em;
        color: $blue-cern-dark;

    }

    h3 {
        @extend %headers;
        font-size: 1.2em;
        color: $blue-cern;
    }

    h4 {
        @extend %headers;
        font-size: 1.1em;
        color: $blue-gray;
    }
}

.blog-navigation-links a {
    color: $blue-cern-dark;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.blog-navigation-links-top {
    margin-bottom: $spacing-unit;
}

.blog-navigation-links-bot {
    margin-top: $spacing-unit;

    .blog-next-post {
        float: right;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    img {
        cursor: pointer;
        display: block;
        margin: 2em auto;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.2);
    }

    table td:not(:last-child) {
        padding-right: 10px;
    }
}

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;

  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}






/**
 * General
 */
.section {
    text-align: center;
}

.section-content {
    padding-top: calc(3 * #{$spacing-unit});
    padding-bottom: calc(3 * #{$spacing-unit});

    h2.title {
        text-align: center;
    }
}

.section-content-short {
    padding-top: calc(2 * #{$spacing-unit});
    padding-bottom: calc(2 * #{$spacing-unit});
}

a.no-decoration {
    text-decoration: none;
    &:visited {
            color: $white;
        }
}

.bg-blue-light {
    background-color: $blue-lighter;
}

.bg-white {
    background-color: white;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.block-center-abs {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


/**
 * Hero sections
 */
.hero-section {
    background-color: $blue-darker;
    background-position: center;
    background-size: cover;
}

.hero-home {
    background-image: url("../../img/hero/home.png");
    height: 851px;
}

.hero-features {
    height: 350px;
    background-image: url("../../img/hero/features.png");
}

.hero-getting-started {
    height: 800px;
    background-image: url("../../img/hero/getting_started.png");

    @media (max-width: $lg) {
        height: 1000px;
    }
}

.hero-blog {
    height: 350px;
    background-image: url("../../img/hero/blog.png");
}

.hero-contact {
    height: 705px;
    background-image: url("../../img/hero/contact.png");
}

.hero-about {
    height: 705px;
    background-image: url("../../img/hero/worldmap.png");
}

.hero-roadmap {
    height: 350px;
    background-image: url("../../img/hero/roadmap.png");
}

.hero-resources {
    height: 350px;
    background-image: url("../../img/hero/resources.png");
}

.hero-section-content {
    padding-top: calc(3 * #{$spacing-unit});
}

.hero-section-content-centered {
    padding-top: calc(3 * #{$spacing-unit});
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-spotlight {
    margin-top: 80px;
}

.hero-spotlight-1 {
    font-family: $ubuntu;
    color: $blue-light;
    line-height: 25px;
}

.hero-spotlight-line {
    border-bottom: 3px solid $blue-light;
    width: 20%;
    margin: 20px auto;
}

.hero-spotlight-header {
    margin: 50px 0;
    width: 100%;
    font-family: $ubuntu;

    h1 {
        color: $white;
        margin-bottom: 0;
    }

}

.hero-spotlight h2 {
    font-family: $ubuntu;
    font-size: 20px;
    color: $blue-light;
    line-height: 20px;
    margin-top: calc(3 * #{$spacing-unit});
}

.hero-spotlight-header-home h1 {
    -webkit-font-smoothing: auto;
    font-size: 36px;
    line-height: 56px;

    @media (min-width: $md) {
        font-size: 48px;
    }
}

.hero-spotlight-header-page h1 {
    font-size: 28px;
    line-height: 43px;

    @media (min-width: $sm) {
        font-size: 36px;
    }
}

.hero-spotlight-demo {
    a {
        text-decoration: none;
        border-radius: 40px;
        background: $green-bright;
        font-family: $maven;
        font-size: 16px;
        color: $white;
        line-height: 25px;
        padding: 15px 60px;

        &:hover {
            background: $green;
        }

        &:active {
            opacity: 0.5;
        }

        &:visited {
            color: $white;
        }
    }
}

.hero-spotlight-download {
    margin-top: 30px;

    a {
        font-family: $quicksand;
        font-size: 14px;
        color: $blue-light;
        line-height: 17px;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

.hero-spotlight-text {
    font-family: $quicksand;
    font-size: 18px;
    color: $white;
    line-height: 25px;
}

.hero-spotlight-button-lg {
    padding-top: 50px;

    a {
        text-decoration: none;
        border-radius: 40px;
        font-family: $quicksand;
        font-size: 36px;
        line-height: 25px;
        padding: 15px 60px;
        border: 2px solid $green;
        color: $white;

        @media(max-width: $sm) {
            font-size: 17px;
        }
    }
}


/**
 * Home page
 */
.partners-section {
    min-height: 500px;
    background-color: $blue-cern;

    .partner-carousel {
        font-family: $quicksand;
        font-size: 13px;
        color: $white;

        @media (min-width: $sm) {
            font-size: 15px;
        }
    }
}

#carousel-partners {

    .item {
        min-height: calc(12 * #{$spacing-unit});

        @media(min-width: $sm) {
            min-height: calc(10 * #{$spacing-unit});
        }
    }

    .carousel-control {
        background: none;
        span {
            position: absolute;
            top: 50%;
            right: 50%;
        }
    }

    .carousel-indicators {
        bottom: -$spacing-unit;
        margin-bottom: 0;
    }
}

.partner-carousel-item-img img {
    max-height: 100px;
    margin-bottom: 20px;

    &.horizontal {
        max-height: 75px;
    }
}

.partner-carousel-item {
    height: 330px;

    .partner-carousel-item-text {
        padding-top: 10px;
    }
}

.features-section {
    font-family: $ubuntu;
    background: $blue-lighter;

    .features-section-title {
        color: $blue-darker;
        margin-bottom: 2em;
    }

    iframe {

        @media(min-width: $md) {
            width: 640px;
        }

        width: 100%;
        height: 360px;
    }


    .features-section-list {
        background-color: $white;
        text-align: left;

        .list-title {
            color: $blue-darker;
            text-align: center;
        }

        .features-section-feature {
            min-height: 156px;
            padding-top: 50px;

            .features-section-feature-icon {
                text-align: center;

                img {
                    max-width: 70px;
                }
            }

            .features-section-feature-description {
                padding-top: 10px;
                font-family: $quicksand;
                font-size: 16px;
                color: $blue-darker;
                line-height: 24px;
                text-align: left;
                margin-top: 0;

                @media(max-width: $sm) {
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}

/**
 * Uses absolute relative and positions so that the text escapes the
 * transparent background "prison". Alternative workaround would be to
 * use a background image that includes the opacity (so there would be
 * no need to apply css opacity).
 */
.safety-net-section {
    color: $blue-darker;

    .safety-net-wrapper {
        position: relative;  // to escape content from transparent prison
        margin: 0 auto;
    }

    h2 {
        font-family: $ubuntu;
        -webkit-font-smoothing: antialiased;
        font-size: 28px;
        line-height: 35px;

        @media (min-width: $sm) {
            font-size: 30px;
            line-height: 38px;
        }

        @media (min-width: $md) {
            font-size: 36px;
            line-height: 43px;
        }

        a {
            color: $blue;

            &:hover{
                color: $blue-gray-light;
                text-decoration: none;
            }
        }
    }

    .github-project {
        padding-top: 50px;

        a {
            text-decoration: none;
            border-radius: 40px;
            font-family: $ubuntu;
            font-size: 16px;
            line-height: 25px;
            padding: 15px 60px;
            border: 2px solid $green;
            color: $blue-darker;

            &:hover {
                background: $green;
                color: $white;
            }

            &:active {
                opacity: 0.5;
                color: $white;
            }

            @media(max-width: $sm) {
                font-size: 15px;
            }
        }
    }

    /** Overide colors when in front page **/
    .safety-net-content-absolute {
        position: absolute;
        top: 4.7em;
        left: 15px;     // same as bootstrap col padding
        right: 15px;    // same as bootstrap col padding
        z-index: 1;
        color: $white;

        .github-project a {
            color: $white;

            a:visited {
                color: $white;
            }
        }
    }

    .safety-net-section-fader {
        height: 100%;
        background-image: url("../../img/safety_net.png");
        background-size: cover;
        opacity: 0.3;
    }
}

.safety-net-section-home {
    height: 347px;
}

/**
 * Features page
 */
.features-section-listed {
    margin-top: 30px;
    background-image: url('../../img/features_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-position: center;

    .section-content {
        padding-top: calc(8 * #{$spacing-unit});

        @media(min-width: $sm) {
            padding-top: calc(10 * #{$spacing-unit});
        }

        @media(min-width: $md) {
            padding-top: calc(12 * #{$spacing-unit});
        }
    }


    .feature-row {
        margin-bottom: calc(2 * #{$spacing-unit});
        text-align: center;
        margin-top: calc(2 * #{$spacing-unit});


        .description {
            flex-direction: column;
            align-items: flex-start;
            font-family: $quicksand;
            padding: 10px 60px;
            margin-top: 20px;

            h2 {
                font-size: 28px;
                font-family: $ubuntu;
            }

            p {
                font-size: 16px;
                color: $gray;
                line-height: 24px;
            }
        }

        .feature-screenshot {
            padding-left: 5%;
            padding-right: 5%;
            max-height: 500px;
            margin-bottom: 40px;
            width: 100%;

            .carousel-inner {
                box-shadow: 1px 1px 2px 1px lighten($blue-gray-light, 30%);
            }

            .carousel-indicators {
                bottom: -$spacing-unit;
                margin-bottom: 0;
            }

            .carousel-control {
                transition: none;
            }

            .carousel-control-prev {
                left: -7%;
                @media(max-width: $sm) {
                    display: none;
                }
            }

            .carousel-control-next {
                right: -7%;
                @media(max-width: $sm) {
                    display: none;
                }
            }

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                opacity: 0.2;
                filter: brightness(0.2);
            }
        }

        @media(min-width: $lg) {
            text-align: left;
        }
    }

    .green {
        color: $turquoise;
    }

    .green .carousel-indicators li {
        background-color: $turquoise;
    }

    .green .carousel-control-prev-icon {
        color: $turquoise;
    }

    .green .carousel-control-next-icon {
        color: $turquoise;
    }

    .standard {
        color: $blue-dark;
    }

    .standard .carousel-indicators li {
        background-color: $blue-dark;
    }

    .standard .carousel-control-prev-icon {
        color: $blue-dark;
    }

    .standard .carousel-control-next-icon {
        color: $blue-dark;
    }

    .dark {
        color: $blue-cern-dark;
    }

    .dark .carousel-indicators li {
        background-color: $blue-cern-dark;
    }

    .dark .carousel-control-prev-icon {
        color:  $blue-cern-dark;
    }

    .dark .carousel-control-next-icon {
        color:  $blue-cern-dark;
    }
}

/**
 * Getting Started page
 */

 .getting-started-options {
     font-family: $quicksand;
     margin: 100px 10px;

    .option-card {
        margin: 30px;
        padding: 30px;
        height: 200px;
        display: block;
        border: 0.5px solid $indico-blue;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50px;
            height: 50px;
        }

        h4 {
            margin-bottom: 10px;
            color: $indico-blue;
            font-weight: bold;
        }

        p {
            color: $gray-light;
        }
    }

    @media(hover: hover) {
        .option-card:hover {
            background: rgba(0, 0, 0, 0.4);
        }

        .resource-card:hover::after {
            width: 100%;
            left: 0;
            background: $blue-gradient;
        }
    }

    @media(max-width: $lg) {
        margin: 40px 10px;
    }

 }



/**
 * Contact Us page
 */
.contact-main-section {
    font-family: $quicksand;
    text-align: center;

    @media(min-width: $md) {
        text-align: left;
    }

    h2 {
        font-size: 14px;
        color: $blue-darker;
        line-height: 24px;
        margin-top: calc(2 * #{$spacing-unit});

        @media(min-width: $sm) {
            margin-top: 0;
        }
    }

    div {
        color: $blue-gray;
    }
}


/**
 * About Us page
 */
.about-team-wrapper {
    margin-top: -40px;

    @media(max-width: $md) {
        margin-top: 20px;
    }
}

.about-team-grid {

    min-height: 420px;

    .team-member {

        background-position: center;
        background-image: url('../../img/person_placeholder.gif');
        background-size: cover;

        .team-member-note {
            width: 100%;
            margin: 0 -15px;
            position: absolute;
            bottom: 0;
            text-align: left;
            padding: 10px;

            background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, $black 100%);
            background-image: -moz-linear-gradient(rgba(0,0,0,0.00) 0%, $black 100%);
            background-image: -ms-linear-gradient(rgba(0,0,0,0.00) 0%, $black 100%);
            background-image: linear-gradient(rgba(0,0,0,0.00) 0%, $black 100%);

            font-family: $quicksand;
            font-size: 14px;
            line-height: 18px;
            color: $blue-lighter;

            .team-member-name {
                color: $white;
                font-size: 18px;
            }
        }
    }

    .team-member-dev {
        min-height: 320px;
    }

    .team-member-leader {
        min-height: 240px;
    }

    .team-leaders {
        margin-top: $spacing-unit;
    }
}

.about-us-main-section {
    text-align: center;

    @media(min-width: $md) {
        text-align: left;
    }
}

.contr-list {
    font-family: $quicksand;
    font-size: 14px;
    line-height: 24px;
    margin-top: calc(2 * #{$spacing-unit});

    @media(min-width: $sm) {
        margin-top: $spacing-unit;
    }

    h2.contr-list-header {
        color: $blue-darker;
        font-size: 14px;
        line-height: 24px;
    }

    ul.contr-list-names {
        color: $blue-gray-light;
        list-style: none;
        margin-left: 0;

        .contr-list-names-date {
            color: $blue-cern;
        }
    }
}

// Roadmap

.roadmap {
    justify-content: center;
    margin-bottom: 30px;
    font-family: $quicksand;

    .container {
        background-color: $white;
        padding: 0;

        h2 {
            margin-top: 60px;
            text-align: center;
            font-family: Quicksand;
            color: $blue-dark;
            font-size: 3em;
            padding: 20px 40px;
            padding-left: 2px;
            background-color: $white-blue;

            img {
                width: 35px;
                height: 35px;
            }
        }

        h3 {
            font-family: Ubuntu;
            padding: 10px;
            text-align: center;
            color: $gray-dark;
            margin-top: 60px;
            font-weight: bold;

            del {
                color: $gray-light;
            }

            img {
                width: 25px;
                height: 25px;
            }
        }

        blockquote {
            border: none;

            p {
                text-align: center;
                color: gray;
                letter-spacing: 0;
                font-size: 0.8em;
            }
        }

        ul {
            margin: auto;
            width: 60%;
            text-align: left;
            margin-bottom: 20px;
            margin-top: 10px;

            li {
                margin: 0 0 12px 0;
                color: $blue-darker;

                strong {
                    font-weight: bold;
                }

                ul {
                    width: 100%;

                    li {
                        margin: 5px 0;
                        color: $gray;
                        text-align: left;
                        list-style-type: none;
                    }
                }
            }
        }

        hr {
            margin-top: 50px;
            background-color: $white-dark;
            display: block;
            height: 30px;
            border-top: 2px solid $blue-light;
        }

        a {
            color: $blue;
        }

        @media(hover: hover) {
            a:hover {
                color: darken($blue, 10%);
                text-decoration: underline;
            }
        }

        p {
            margin: auto;
            width: 60%;
            text-align: left;
            margin-bottom: 20px;
            color: $blue-darker;
        }
    }

}

// Resources

.resources {
    justify-content: center;
    margin-top: 40px;
    font-family: $quicksand;

    .resources-section {
        margin-top: 20px;

        .section-title {
            text-align: center;
            margin-bottom: 40px;
            color: $blue;
            font-weight: bold;
        }

        .resource-card {
            background: white;
            box-shadow: 1px 1px 2px 1px $blue-lighter;
            margin-bottom: 2.25em;
            position: relative;
            display: block;
            padding: 20px;
            border-radius: 5px;
            min-height: 145px;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-height: 50px;
                max-width: 60px;
            }

            h4 {
                margin-bottom: 10px;
                color: $blue-darker;

                font-family: $ubuntu;
            }

            p {
                color: gray;
            }
        }

        .resource-card:after {
            content: '';
            position: absolute;
            width: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: $blue-gradient;
            transition: width .250s ease-in-out;
        }

        @media(hover: hover) {
            .resource-card:hover {
                h4 {
                    color: darken($blue-darker, 8%);
                }

                p {
                    color: darken(gray, 8%);
                }
            }

            .resource-card:hover::after {
                width: 100%;
                left: 0;
                background: $blue-gradient;
            }
        }

        @media (hover: none) {
            a:hover {
                background: inherit;
            }
        }
    }
}

.image-container {
    display: flex;
}

// emoji-like title images
.post-content .emoji-title {
    display: flex;
}

.post-content .emoji {
    margin: 0 .5rem 0 .5rem;
    box-shadow: none;
    height: 24px;
    cursor: default;
    pointer-events: none;
}

#checkin-app-images {
    gap: 1em;
    
    img {
        min-width: 0;
        border-color: grey;
        border-style: solid;
        border-width: 0.6em 0.6em 1.8em 0.6em;
        background-color: black;
        border-radius: 18px;
    }
}
