---
layout: default
--- 
<section class="hero-section section hero-about">
    <div class="hero-section-content">
        <div class="container hero-spotlight">
            <div class="row">
                <div class="col-md-9 col-xm-12 block-center">
                    <div class="hero-spotlight-header hero-spotlight-header-page">
                        <h1>About Us</h1>
                    </div>
                    <div class="hero-spotlight-text">The Indico project started in 2002 as an European Project. In 2004, CERN adopted it as its own event management solution and financed its development till the present day. Other partners and anonymous individuals have provided valuable contributions over the years.<br>In this page, we try to mention all of them.</div>
                </div>
            </div>
        </div>
    </div>
</section>