---
layout: default
---
<section class="hero-section section hero-about">
    <div class="hero-section-content">
        <div class="container hero-spotlight">
            <div class="row">
                <div class="col-md-9 col-xm-12 block-center">
                    <div class="hero-spotlight-header hero-spotlight-header-page">
                        <h1>About Us</h1>
                    </div>
                    <div class="hero-spotlight-text">The Indico project started in 2002 as an European Project. In 2004, CERN adopted it as its own event-management solution and has financed its development since. Other partners and anonymous individuals have provided valuable contributions over the years.<br>In this page, we try to mention all of them.</div>
                    <h2>CURRENT TEAM</h2>
                </div>
            </div>
            <div class="row about-team-wrapper">
                <div class="about-team-grid col-md-10 col-11 block-center-abs">
                    <div class="row">
                        {%- for member in page.current_members -%}
                            <div class="team-member team-member-dev col-md-4 col-sm-6 col-12" style="background-image: url({{ member.photo | prepend: 'img/people/' | relative_url }})">
                                <div class="team-member-note">
                                    <div class="team-member-name">{{ member.name }}</div>
                                    <div>{{ member.position }}</div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                    <div class="row team-leaders justify-content-center">
                        {%- for member in page.managers -%}
                            <div class="team-member team-member-leader col-md-3 col-sm-6 col-12" style="background-image: url({{ member.photo | prepend: 'img/people/' | relative_url }})">
                                <div class="team-member-note">
                                    <div class="team-member-name">{{ member.name }}</div>
                                    <div>{{ member.position }}</div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-section about-us-main-section">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-9 block-center">
                <div class="row">
                    <div class="col-12">
                        <div class="contr-list text-center">
                            <h2 class="contr-list-header">LONG-TIME CONTRIBUTORS</h2>
                            <ul class="contr-list-names">
                                {%- for member in page.long_time_contributors -%}
                                    <li>
                                        <span>{{ member.name }}</span>
                                        <span class="contr-list-names-date">{{ member.dates }}</span>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="contr-list">
                            <h2 class="contr-list-header">CONTRIBUTORS</h2>
                            <div class="row">
                                {%- assign second_column_end = page.contributors | size -%}
                                {%- assign second_column_start = second_column_end | divided_by: 2 | plus: 1 -%}
                                {%- assign first_column_end = second_column_start | minus: 1 -%}
                                {%- assign first_column_start = 1 -%}
                                {%- for member in page.contributors -%}
                                    {%- if forloop.index == first_column_start or forloop.index == second_column_start -%}
                                        <div class="col-sm-6">
                                            <ul class="contr-list-names">
                                    {%- endif -%}
                                                <li>
                                                    <span>{{ member.name }}</span>
                                                    <span class="contr-list-names-date">{{ member.dates }}</span>
                                                </li>
                                    {%- if forloop.index == first_column_end or forloop.index == second_column_end -%}
                                            </ul>
                                        </div>
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contr-list text-center">
                            <h2 class="contr-list-header">OTHER CONTRIBUTORS</h2>
                            <ul class="contr-list-names">
                                {%- for member in page.other_contributors -%}
                                    <li>
                                        <span>{{ member.name }}</span>
                                        <span class="contr-list-names-date">{{ member.dates }}</span>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="safety-net-section section bg-blue-light">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-9 col-xm-12 block-center">
                <h2>Have we somehow forgotten to mention your name? We're sorry! But please <a href="mailto:indico-team@cern.ch">drop us an email</a> and we will fix that right away!</h2>
            </div>
        </div>
    </div>
</section>
