---
layout: default
---
<section class="hero-section section hero-blog">
    <div class="hero-section-content-centered container">
        <div class="hero-spotlight-header hero-spotlight-header-page">
            <h1>News from the Indico World</h1>
        </div>
    </div>
</section>
<section class="blog-section">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-8 col-12 block-center">
                {{ content }}
            </div>
        </div>
    </div>
</section>
<section class="safety-net-section section bg-blue-light">
    <div class="section-content-short container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xm-12 block-center">
                <h2></h2>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function() {
        $(document).delegate('*.post-content img', 'click', function(event) {
            $(this).attr('data-remote', $(this).attr('src'));
            event.preventDefault(); $(this).ekkoLightbox();
        });
    })
</script>
