---
layout: blog_default
---
<div class="blog-post-list posts">
  {% for post in site.posts limit: 2 %}
    <div class="blog-post blog-post-frame post">
        <header class="post-header">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p class="post-meta">by {% if post.author %} {{ post.author }}{% endif %} - {{ post.date | date: "%b %-d, %Y" }}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
        </header>

        <article class="post-content">
          {{ post.content }}
        </article>
    </div>
  {% endfor %}
</div>
<div class="infinite-spinner"></div>
