---
layout: default
---
<section class="hero-section section hero-blog">
    <div class="hero-section-fader">
        <div class="hero-section-content">
            <div class="hero-spotlight wrapper">
                <div class="block-center col-desk-3 col-lapt-6 col-palm-6">
                    <div class="hero-spotlight-header hero-spotlight-header-page">
                        <h1>Musings on the Indico project & development</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
<section class="blog-section">
    <div class="section-content wrapper">
        <div class="col-desk-5 col-lapt-6 col-palm-6 block-center">
            {{ content }}
        </div>
    </div>
</section>
<section class="safety-net-section section bg-blue-light safety-net-section-blog">
    <div class="section-content wrapper col-desk-3 col-lapt-6 col-palm-6">
        <h2>Indico is the de facto HEP standard collaboration tool.</h2>
    </div>
</section>