---
layout: default
---
<section class="hero-section section hero-blog">
    <div class="hero-section-fader">
        <div class="hero-section-content">
            <div class="hero-spotlight wrapper">
                <div class="block-center col-desk-3 col-lapt-6 col-palm-6">
                    <div class="hero-spotlight-header hero-spotlight-header-page">
                        <h1>Musings on the Indico project & development</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
{{ content }}