---
layout: default
--- 
<section class="hero-section section hero-contact">
    <div class="hero-section-fader">
        <div class="hero-section-content">
            <div class="wrapper hero-spotlight">
                <div class="row">
                    <div class="col-desk-4 col-lapt-6 col-palm-6 block-center">
                        <div class="hero-spotlight-header hero-spotlight-header-page">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="hero-spotlight-text">You can reach out to the Indico team with any question or request using the following email address:</div>
                        <div class="hero-spotlight-button-lg">
                            <a href="mailto:indico-team@cern.ch">indico-team@cern.ch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>