---
layout: default
--- 
<section class="hero-section section hero-contact">
    <div class="hero-section-fader">
        <div class="hero-section-content container">
            <div class="row">
                <div class="col-md-7 col-sm-10 col-xm-12 block-center">
                    <div class="hero-spotlight-header hero-spotlight-header-page">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="hero-spotlight-text">You can reach out to the Indico team with any question or request using the following email address:</div>
                    <div class="hero-spotlight-button-lg">
                        <a href="mailto:indico-team@cern.ch">indico-team@cern.ch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
<section class="contact-main-section section bg-blue-light">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-9 col-xm-12 block-center">
                <div class="row">
                    <div class="col-sm-4 col-xs-12 mailing-lists">
                        <h2 class="uppercase">Mailing Lists</h2>
                        <ul>
                            <li><a href="http://cern.ch/simba3/SelfSubscription.aspx?userHasAccount=false&groupName=project-indico-administrators">Server Administrators</a></li>
                            <li><a href="http://cern.ch/simba3/SelfSubscription.aspx?userHasAccount=false&groupName=project-indico-devel">Developers</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h2 class="uppercase">IRC Channel</h2>
                        <div>Official <a href="http://webchat.freenode.net/?channels=indico">#indico</a> channel at Freenode (<b>irc.freenode.net</b>)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
