---
layout: default
---
<section class="hero-section section hero-features">
    <div class="hero-section-wrapper">
        <div class="container hero-section-content">
            <div class="row">
                <div class="col-md-9 col-xm-12 block-center hero-spotlight">
                    <div class="hero-spotlight-header hero-spotlight-header-page">
                        <h1>Organise meetings, workshops and conferences across the globe.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features-section-listed container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 col-12 block-center">
            {%- for feature in page.features -%}
                <div class="row justify-content-center feature-row">
                    <div class="col-md-7 col-12">
                        <img id="{{ feature.id }}" src="{{ site.baseurl }}/img/features/{{ feature.image }}">
                    </div>
                    <div class="col-md-5 col-12 {% cycle "", "order-md-first" %} d-flex align-items-center description">
                        <div>
                            <h2 class={% cycle "light", "dark", "standard" %}>{{ feature.name }}</h2>
                            <p>{{ feature.text }}</p>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
<section class="safety-net-section section bg-blue-light">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-9 col-xm-12 block-center">
                <h2>And you can help make it even better!</h2>
                <div class="github-project">
                    <a href="https://github.com/indico/indico">View the Github project</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function() {
        $(document).delegate('*[data-toggle=lightbox]', 'click', function(event) {
            event.preventDefault(); $(this).ekkoLightbox();
        });
    })
</script>
