---
layout: default
---
<section class="hero-section section hero-features">
    <div class="hero-section-wrapper">
        <div class="container hero-section-content">
            <div class="row">
                <div class="col-md-9 col-xm-12 block-center hero-spotlight">
                    <div class="hero-spotlight-header hero-spotlight-header-page">
                        <h1>Organize meetings, workshops and conferences across the globe,
                            bridging different collaborative tools.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="graphics"></div>
        <div class="graphics-macbook" >
            <span class="helper"></span>
            <img src="{{ site.baseurl }}/img/macbook_air.png" data-toggle="lightbox" data-remote="{{ site.baseurl }}/img/macbook_air_full.png">
        </div>
    </div>
</section>
<section class="features-section-listed">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-9 col-xm-12 block-center features-list">
                <div class="row feature-row">
                    <div class="col-md-6">
                        <img data-toggle="lightbox" data-gallery="events-complexity" src="{{ site.baseurl }}/img/examples/1/1-qm2014_timetable_small.png" data-remote="{{ site.baseurl }}/img/examples/1/1-qm2014_timetable_full.png" data-title="Conference">
                        <!-- hidden screenshots -->
                        <div data-toggle="lightbox" data-gallery="events-complexity" data-remote="{{ site.baseurl }}/img/examples/1/2-meeting_full.png" data-title="Meeting"></div>
                        <div data-toggle="lightbox" data-gallery="events-complexity" data-remote="{{ site.baseurl }}/img/examples/1/3-seminar_full.png" data-title="Seminar"></div>
                    </div>
                    <div class="col-md-6">
                        <h2>Events of Different Complexity</h2>
                        <p>Lectures, meetings, workshops or conferences - Indico provides different feature sets for events with different levels of complexity. You will never need to bring with that USB flash drive ever again, or mail yourself PPT files. Your participants will be able to easily find what is going on in your organisation and access presentation materials from anywhere.</p>
                    </div>
                </div>
                <div class="row feature-row">
                    <div class="col-md-6 col-md-push-6">
                        <img data-toggle="lightbox" data-gallery="full-coverage" src="{{ site.baseurl }}/img/examples/2/1-registration_form_small.png" data-remote="{{ site.baseurl }}/img/examples/2/1-registration_form_full.png" data-title="Registration Form">
                        <!-- hidden screenshots -->
                        <div data-toggle="lightbox" data-gallery="full-coverage" data-remote="{{ site.baseurl }}/img/examples/2/2-abstracts_full.png" data-title="Abstracts"></div>
                        <div data-toggle="lightbox" data-gallery="full-coverage" data-remote="{{ site.baseurl }}/img/examples/2/3-badges_full.png" data-title="Badges"></div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h2>Full Coverage of the Conference Lifecycle</h2>
                        <p>Indico will help you organize your conference from the beginning. From registration and abstract submission to the final papers, conference materials are stored within the system and made available to participants from the event web page. We've got it all covered, even participant badges!</p>
                    </div>
                </div>
                <div class="row feature-row">
                    <div class="col-md-6">
                        <img data-toggle="lightbox" data-gallery="user-friendly" src="{{ site.baseurl }}/img/examples/3/1-timetable_management_small.png" data-remote="{{ site.baseurl }}/img/examples/3/1-timetable_management_full.png" data-title="Timetable Management">
                        <div data-toggle="lightbox" data-gallery="user-friendly" data-remote="{{ site.baseurl }}/img/examples/3/2-form_management_full.png" data-title="Registration Form"></div>
                        <div data-toggle="lightbox" data-gallery="user-friendly" data-remote="{{ site.baseurl }}/img/examples/3/3-richabstracteditor_full.png" data-title="Rich Abstract Editor"></div>
                    </div>
                    <div class="col-md-6">
                        <h2>User-friendly Interface</h2>
                        <p>Building a registration form would be a tedious task, were it not for Indico's WYSIWYG form designer. Timetables can be easily managed using a powerful "drag and drop" interface. Rich text? Mathematical formulae? We have them! We are constantly trying to make Indico simpler to use and more user-friendly.</p>
                    </div>
                </div>
                <div class="row feature-row">
                    <div class="col-md-6 col-md-push-6">
                        <img data-toggle="lightbox" data-gallery="protection-scheme" src="{{ site.baseurl }}/img/examples/4/1-protection_small.png" data-remote="{{ site.baseurl }}/img/examples/4/1-protection_full.png" data-title="Resource Protection">
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h2>Hierarchical Protection Scheme</h2>
                        <p>Indico was built with a large organisation in mind (CERN). This is why events are organised using a hierarchy of categories and protection of resources can be defined at several granularity levels. From small schools to large enterprises, Indico is the intuitive solution for organised and secure event storage.</p>
                    </div>
                </div>
                <div class="row feature-row">
                    <div class="col-md-6">

                        <img data-toggle="lightbox" data-gallery="easy-retrieval" src="{{ site.baseurl }}/img/examples/8/1-user_dashboard_small.png" data-remote="{{ site.baseurl }}/img/examples/8/1-user_dashboard_full.png" data-title="User Dashboard">
                        <div data-toggle="lightbox" data-gallery="easy-retrieval" data-remote="{{ site.baseurl }}/img/examples/8/2-calendar_full.png" data-title="Calendar"></div>
                        <div data-toggle="lightbox" data-gallery="easy-retrieval" data-remote="{{ site.baseurl }}/img/examples/8/3-search_full.png" data-title="Search"></div>
                    </div>
                    <div class="col-md-6">
                        <h2>Easy retrieval of events</h2>
                        <p>Indico allows you to quickly access the events that matter. Its "User Dashboard" tool will save you a lot of time. Quickly have a look at the events that are happening this week, or search for
                        a specific keyword.</p>
                    </div>
                </div>
                <div class="row feature-row">
                    <div class="col-md-6 col-md-push-6">
                        <img data-toggle="lightbox" data-gallery="room-booking" src="{{ site.baseurl }}/img/examples/7/1-roombooking_small.png" data-remote="{{ site.baseurl }}/img/examples/7/1-roombooking_full.png" data-title="Room Booking">
                        <div data-toggle="lightbox" data-gallery="room-booking" data-remote="{{ site.baseurl }}/img/examples/7/2-roombooking_map_full.png" data-title="Room Booking - Map"></div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h2>Room Booking Module</h2>
                        <p>Companies, research institutes and universities often have the need to manage their rooms and keep track of their usage. Indico provides a flexible room booking module that allows for the delegation of room management capabilities, approval of bookings, management of audiovisual equipment and many other things, always in a transparent and intuitive way.</p>
                    </div>
                </div>
                <div class="row feature-row">
                    <div class="col-md-6">
                        <img data-toggle="lightbox" src="{{ site.baseurl }}/img/examples/6/1-collab_tools_small.png" data-remote="{{ site.baseurl }}/img/examples/6/1-collab_tools_full.png" title="Collaborative Tools">
                    </div>
                    <div class="col-md-6">
                        <h2>Integration with Collaborative Tools</h2>
                        <p>Web-driven meetings are great, but video-conferencing makes them even more productive. Indico seamlessly integrates with Vidyo, allowing participants to connect with a single click. There is also built-in support for Jabber/XMPP chat rooms that can be associated to events.</p>
                    </div>
                </div>
                <div class="row feature-row">
                    <div class="col-md-6 col-md-push-6">
                        <img data-toggle="lightbox" src="{{ site.baseurl }}/img/examples/5/1-rest_api_small.png" data-remote="{{ site.baseurl }}/img/examples/5/1-rest_api_full.png" title="REST API">
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h2>Powerful REST API</h2>
                        <p>Indico won't keep you data hostage. We believe in open collaborative platforms, and this is why we provide a simple and powerful REST API that allows for easy retrieval of information. The API is in constant expansion. You can also export your event data from your favorite scheduling/calendaring app, throught iCal feeds.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="safety-net-section section bg-blue-light">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-9 col-xm-12 block-center">
                <h2>And you can help make it even better!</h2>
                <div class="github-project">
                    <a href="http://github.com/indico/indico">View the Github project</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function() {
        $(document).delegate('*[data-toggle=lightbox]', 'click', function(event) {
            event.preventDefault(); $(this).ekkoLightbox();
        });
    })
</script>