---
layout: default
---
<section class="hero-section section hero-features">
        <div class="hero-section-content">
            <div class="hero-spotlight wrapper">
                <div class="hero-spotlight-header hero-spotlight-header-features">
                    <h1>Organize meetings, conferences or events across the globe,
                        bridging different collaborative tools.</h1>
                </div>
            </div>
        </div>
</section>
<section class="safety-net-section section bg-blue-light">
    <div class="section-content wrapper col-desk-3 col-lapt-6 col-palm-6">
        <h2>Organize, manage documents and collaborate using Indico.</h2>
        <div class="github-project">
            <a href="#">View the Github project</a>
        </div>
    </div>
</section>