---
layout: default
---
<section class="hero-section section hero-getting-started">
    <div class="hero-section-fader">
        <div class="hero-section-content">
            <div class="hero-spotlight container">
                <div class="row">
                    <div class="col-md-9 col-11 block-center">
                        <div class="hero-spotlight-header hero-spotlight-header-page">
                            <h1>Getting started with Indico</h1>
                        </div>
                    </div>
                </div>
                <div class="row options-wrapper">
                    <div class="getting-started-options col-md-9 col-12 block-center-abs">
                        <div class="row">
                            <div class="options-description col-12 block-center">
                                Indico has a few easy ways to quickly get started, each one appealing to a different skill level and use-case. Read through to see what suits your particular needs.
                            </div>
                        </div>
                        <div class="row options-wrapper">
                            <div class="option col-sm-6 col-12">
                                <a href="#installing-indico">
                                    <div class="inner-wrapper">
                                        <div class="row justify-content-center">
                                            <img src="{{ site.baseurl }}/img/own_machine.png">
                                        </div>
                                        <div class="row">
                                            <div class="col-12">INSTALL INDICO ON YOUR MACHINE</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="option col-sm-6 col-12">
                                <a href="https://sandbox.getindico.io">
                                    <div class="inner-wrapper">
                                        <div class="row justify-content-center">
                                            <img src="{{ site.baseurl }}/img/sandbox.png">
                                        </div>
                                        <div class="row">
                                            <div class="col-12">TRY IT OUT (SANDBOX)</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="download-section">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-8 col-xm-12 block-center">
                <section id="installing-indico">
                    <h2 class="header">Installing Indico</h2>
                    <p class="content">Installing Indico is quite simple, just follow our <a href="https://docs.getindico.io/en/latest/installation/production/" title="Production Installation guide">Installation Guide</a>!</p>
                    <p class="content">The project is available from the <a href="https://pypi.python.org/pypi/indico" title="Indico at PyPI">Python Package Index (PyPI)</a>.</p>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="safety-net-section section bg-blue-light">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-8 col-xm-12 block-center">
                <h2>Indico is Open Source Software, freely available to the world.</h2>
                <div class="github-project">
                    <a href="https://github.com/indico/indico">View the Github project</a>
                </div>
            </div>
        </div>
    </div>
</section>
