---
layout: default
---
<section class="hero-section section hero-getting-started">
    <div class="hero-section-content">
        <div class="hero-spotlight container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-11">
                    <div class="hero-spotlight-header hero-spotlight-header-page">
                        <h1>Getting started with Indico</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center getting-started-options">
                <div class="col-lg-6 col-12">
                    <a class="option-card" href="https://docs.getindico.io/en/stable/installation/">
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <img src="{{ '/img/own_machine.png' | relative_url }}">
                            </div>
                            <div class="col-9">
                                <h4>Install Indico</h4>
                                <p>Follow installation guide to set up your own Indico instance</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-12">
                    <a class="option-card" href="https://sandbox.getindico.io">
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <img src="{{ '/img/sandbox.png' | relative_url }}">
                            </div>
                            <div class="col-9">
                                <h4>Try it out</h4>
                                <p>Discover functionalities on Indico sandbox</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="safety-net-section section bg-white">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-8 col-xm-12 block-center">
                <h2>Indico is Open Source Software, freely available to the world.</h2>
                <div class="github-project">
                    <a href="https://github.com/indico/indico">View the Github project</a>
                </div>
            </div>
        </div>
    </div>
</section>
