---
layout: default
---
<section class="hero-section section hero-home">
    <div class="hero-section-content container">
        <div class="row">
            <div class="col-md-10 col-sm-8 col-xm-12 block-center hero-spotlight">
                <div class="hero-spotlight-1">
                    BUILT FOR EVERYONE, EVERYWHERE
                </div>
                <div class="hero-spotlight-line">
                </div>
                <div class="hero-spotlight-header hero-spotlight-header-home">
                    <h1>The effortless open source tool for event
                        organization, archival and collaboration
                    </h1>
                </div>
                <div class="hero-spotlight-demo">
                    <a href="#">TRY THE DEMO</a>
                </div>
                <div class="hero-spotlight-download">
                    <a href="#">Download v1.9</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Need to find a header title for this section -->
<section class="partners-section section">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-11 col-xm-12 block-center partner-carousel">
                <div id="carousel-partners" class="carousel slide" data-ride="carousel" data-interval="false">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-partners" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-partners" data-slide-to="1"></li>
                    <li data-target="#carousel-partners" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-8 col-xs-9 block-center">
                                <div class="partner-carousel-item-img">
                                    <img src="{{ site.baseurl }}/img/cern_logo_white.png">
                                </div>
                                <div class="partner-carousel-item-text">
                                    CERN - "The European Organisation for Nuclear Research is located at the heart of Europe, astride the Franco-Swiss border. It is known not only by its flagship project (LHC), but as well for being the place where Tim Berners-Lee, in 1989, created the Web.<br><br>
                                    Indico is used every day at CERN to manage more than<br>300.000 events and 200 rooms."
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-8 col-xs-9 block-center">
                                <div class="partner-carousel-item-img">
                                    <h2>LHC</h2>
                                </div>
                                <div class="partner-carousel-item-text">
                                    The Large Hadron Collider - "believed to be the most complex machine ever built by mankind, the LHC brings together thousands of physicists and engineers from all over the world with the aim of studying the Higgs boson, Supersymmetry and Dark Matter, among others. <br>Indico has been adopted by all major LHC experiments as their tool of choice for meeting organization and information sharing."
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-partners" role="button" data-slide="prev">
                <span class="fa fa-angle-left fa-2x"></span>
            </a>
            <a class="right carousel-control" href="#carousel-partners" role="button" data-slide="next">
                <span class="fa fa-angle-right fa-2x"></span>
            </a>
            </div>
        </div>
    </div>
</div>
</section>
<section class="features-section section">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-9 col-xm-12 block-center">
                <h2 class="features-section-title">
                    MANAGE AND ORGANIZE ANYTHING
                </h2>
                <div class="features-section-intro">
                    <div class="row">
                        <div class="col-xs-8 features-section-intro-txt block-center">
                            Indico enables institutions and organizations to schedule and organise events, from simple lectures to complex meetings, workshops and conferences.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-section-list">
        <div class="section-content wrapper">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-9 block-center">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="features-section-feature col-sm-6 col-xs-12">
                                    <span class="features-section-feature-icon col-md-4 col-xs-12">
                                        <img src="{{ site.baseurl }}/img/feature_icon_1.png">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-xs-12">
                                        <p>Event organisation workflow that fits lectures, meetings, workshops and conferences.</p>
                                    </span>
                                </div>
                                <div class="features-section-feature col-sm-6 col-xs-12">
                                    <span class="features-section-feature-icon col-md-4 col-xs-12">
                                        <img src="{{ site.baseurl }}/img/feature_icon_2.png">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-xs-12">
                                        <p>Easy upload and retrieval of presentations, papers and other documents.</p>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="features-section-feature col-sm-6 col-xs-12">
                                    <span class="features-section-feature-icon col-md-4 col-xs-12">
                                        <img src="{{ site.baseurl }}/img/feature_icon_3.png">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-xs-12">
                                        <p>Multi-granular tree-based protection scheme</p>
                                    </span>
                                </div>
                                <div class="features-section-feature col-sm-6 col-xs-12">
                                    <span class="features-section-feature-icon col-md-4 col-xs-12">
                                        <img src="{{ site.baseurl }}/img/feature_icon_4.png">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-xs-12">
                                        <p>Conference paper reviewing functionalities.</p>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="features-section-feature col-sm-6 col-xs-12">
                                    <span class="features-section-feature-icon col-md-4 col-xs-12">
                                        <img src="{{ site.baseurl }}/img/feature_icon_5.png">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-xs-12">
                                        <p>Room booking and management</p>
                                    </span>
                                </div>
                                <div class="features-section-feature col-sm-6 col-xs-12">
                                    <span class="features-section-feature-icon col-md-4 col-xs-12">
                                        <img src="{{ site.baseurl }}/img/feature_icon_6.png">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-xs-12">
                                        <p>Full coverage of the conference life cicle.</p>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="features-section-feature col-sm-6 col-xs-12">
                                    <span class="features-section-feature-icon col-md-4 col-xs-12">
                                        <img src="{{ site.baseurl }}/img/feature_icon_7.png">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-xs-12">
                                        <p>Integration with several collaborative tools</p>
                                    </span>
                                </div>
                                <div class="features-section-feature col-sm-6 col-xs-12">
                                    <span class="features-section-feature-icon col-md-4 col-xs-12">
                                        <img src="{{ site.baseurl }}/img/feature_icon_8.png">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-xs-12">
                                        <p>Permanent archival of all event material and metadata.</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="safety-net-section safety-net-section-home section bg-blue-dark">
    <div class="safety-net-wrapper container">
        <div class="row">
            <div class="col-sm-9 col-xs-12 block-center">
                <div class="safety-net-content-absolute">
                    <h2>Indico is Open Source software. It's free to use and easy to modify!</h2>
                    <div class="github-project">
                        <a href="#">View the Github project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="safety-net-section-fader">
    </div>
</section>
