---
layout: default
---	
<div class="hero-section">
    <div class="hero-section-fader">
        <div class="hero-section-content">
            <div class="hero-spotlight wrapper">
                <div class="hero-spotlight-1">BUILT FOR EVERYONE, EVERYWHERE</div>
                <div class="hero-spotlight-line"></div>
                <div class="hero-spotlight-2">
                    <h1>The effortless open source tool for event 
                        organization, archival and collaboration</h1>
                </div>
                <div class="hero-spotlight-demo">
                    <a href="#">TRY THE DEMO</a>
                </div>
                <div class="hero-spotlight-download">
                    <a href="#">Download v1.9</a>
                </div>
            </div>
        </div>
    </div>	
</div>
