---
layout: default
---
<section class="hero-section section hero-home">
    <div class="hero-section-content container">
        <div class="row">
            <div class="col-md-10 col-sm-8 col-xm-12 block-center hero-spotlight">
                <!-- XXX: Uncomment below to add an announcement (e.g. for a workshop)
                <div class="alert indico-workshop-announcement">
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <span>
                            <i class="fa fa-bullhorn"></i> The Indico workshop returns on the 6th May 2025
                        </span>
                        <a href="{{ site.baseurl }}/indico/workshop/2025/04/03/indico-workshop-2025.html" class="mt-2 mt-md-0">
                            Learn More
                        </a>
                    </div>
                </div>
                -->
                <div class="hero-spotlight-1 uppercase">
                    Lectures, Meetings, Workshops and Conferences
                </div>
                <div class="hero-spotlight-line">
                </div>
                <div class="hero-spotlight-header hero-spotlight-header-home">
                    <h1>The effortless open-source tool for event
                        organisation, archival and collaboration
                    </h1>
                </div>
                <div class="hero-spotlight-demo uppercase">
                    <a href="https://sandbox.getindico.io">Try the demo</a>
                </div>
                <div class="hero-spotlight-download">
                    <a href="{{ site.baseurl }}/getting-started/">Download the latest version</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="partners-section section">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-11 col-xm-12 block-center partner-carousel">
                <div id="carousel-partners" class="carousel slide" data-ride="carousel" data-interval="false">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    {% assign num_testimonials = page.testimonials | size %}
                    {% for n in (1..num_testimonials) %}
                      <li data-target="#carousel-partners" data-slide-to="{{ n | minus: 1 }}"
                          {% if n == 1 %}class="active"{% endif %}>
                      </li>
                    {% endfor %}
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                        {% for testimonial in page.testimonials %}
                            <div class="carousel-item partner-carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="row justify-content-center">
                                    <div class="col-sm-8 col-9">
                                        <div class="partner-carousel-item-img">
                                            <img src="{{ testimonial.logo | prepend: '/img/logos/' | relative_url }}"
                                                 alt="{{ testimonial.name }} Logo"
                                                 class="{{ testimonial.logo_class }}"">
                                        </div>
                                        <div class="partner-carousel-item-text">
                                            {% for line in testimonial.text %}
                                                <p>{{ line | markdownify }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                  </div>
                  <!-- Controls -->
                  <a class="carousel-control-prev" href="#carousel-partners" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-partners" role="button" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                  </a>
            </div>
        </div>
    </div>
</section>
<section class="features-section section">
    <div class="features-section-list">
        <div class="section-content wrapper">
            <h2 class="list-title">Main Features</h2>
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-9 block-center">
                    <div class="row">
                        {%- for feature in page.main_features -%}
                            <div class="features-section-feature col-sm-6 col-12">
                                <div class="row justify-content-center">
                                    <span class="features-section-feature-icon col-md-4 col-12">
                                        <img src="{{ site.baseurl }}/img/{{feature.icon}}">
                                    </span>
                                    <span class="features-section-feature-description col-md-8 col-12">
                                        <p>{{ feature.description }}</p>
                                    </span>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content features-section-intro container">
        <div class="row justify-content-center ">
            <div class="col-md-9 col-xm-12">
                <h2 class="features-section-title">
                    Robust and Scalable Event Management
                </h2>
                <div class="features-section-intro">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yo8rgg9dOcc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
