---
layout: default
---
<section class="hero-section section hero-resources">
    <div class="container hero-section-content-centered">
        <div class="hero-spotlight-header hero-spotlight-header-page">
            <h1>Useful resources</h1>
        </div>
    </div>
</section>
<section class="container resources">
  <div class="row justify-content-center">
    <div class="col-11">
        {%- for section in page.sections -%}
            <div class="row resources-section">
                {%- if section.title -%}
                    <h3 class="col-12 section-title">{{ section.title }}</h3>
                {%- endif -%}
                {%- for resource in section.resources -%}
                    <div class="col-md-6">
                        <a class="resource-card" href="{{ resource.link }}" target="_blank" rel="noopener noreferrer">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <img src="{{ resource.logo | prepend: '/img/logos/' | relative_url }}"></img>
                                </div>
                                <div class="col-9">
                                    <h4>{{ resource.name }}</h3>
                                    <p>{{ resource.summary }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {%- endfor -%}
            </div>
        {%- endfor -%}
    </div>
  </div>
</section>
