---
layout: default
---
<section class="hero-section section hero-roadmap">
    <div class="container hero-section-content">
        <div class="row">
            <div class="col-md-9 col-xm-12 block-center hero-spotlight">
                <div class="hero-spotlight-header hero-spotlight-header-page">
                    <h1>Roadmap</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    {{ content }}
</section>
<section class="safety-net-section section bg-blue-light">
    <div class="section-content container">
        <div class="row">
            <div class="col-md-9 col-xm-12 block-center">
                <h2>And you can help make it even better!</h2>
                <div class="github-project">
                    <a href="https://github.com/indico/indico">View the Github project</a>
                </div>
            </div>
        </div>
    </div>
</section>
