---
layout: default
---
<section class="hero-section section hero-roadmap">
    <div class="container hero-section-content-centered">
        <div class="hero-spotlight-header hero-spotlight-header-page">
            <h1>Foreseen development in Indico</h1>
        </div>
    </div>
</section>
<section class="container roadmap">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="container">{{ content }}</div>
        </div>
    </div>
</section>
